@import "src/scss/media-mixins";

.bvoLabel {
	font-size: 18px;
	line-height: 21px;

	@include respond-below(xs) {
		font-size: 16px;
	}
}

.bvoNaam {
	margin-top: 5px;
}

.infoText {
	display: block;
	margin-top: 15px;
	white-space: pre-wrap;

	@include respond-below(xs) {
		margin-top: 10px;
	}
}
