@import "src/scss/media-mixins";

.content {
	box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	background-color: white;
	overflow: hidden;
	padding: 30px 20px;
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;

	@include respond-below(lg) {
		padding: 25px 20px;
	}

	@include respond-below(xs) {
		padding: 15px 15px;
	}

	@include respond-above(xs) {
		&:hover {
			.hoverOverlay {
				opacity: 1;
			}

			.col:nth-child(2) {
				display: none;
			}
		}
	}

	.col {
		margin-bottom: auto;
		margin-top: auto;
	}

	.col:not(:first-of-type) {
		margin-top: 5px;
	}

	.hoverOverlay {
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		transition: 0.2s;

		@include respond-below(xs) {
			display: none;
		}

		.hoverOverlayTextarea {
			position: absolute;
			bottom: 28px;
			right: 15px;
			left: 15px;
			text-align: left;
			font-size: 1.05rem;
			line-height: 21px;

			.arrow {
				margin-left: 10px;
			}
		}
	}
}


