<?xml version="1.0" encoding="UTF-8"?>
<!--
  ========================LICENSE_START=================================
  screenit-se-rest-bk
  %%
  Copyright (C) 2012 - 2022 Facilitaire Samenwerking Bevolkingsonderzoek
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  =========================LICENSE_END==================================
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

    http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    
    <context:annotation-config/>

    
    <tx:annotation-driven/>

    
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="customObjectMapper"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    
    <context:component-scan base-package="nl.rivm.screenit.service.mamma.impl">
        <context:exclude-filter type="assignable" expression="nl.rivm.screenit.service.mamma.impl.MammaHuisartsServiceImpl"/>
    </context:component-scan>

    <context:component-scan base-package="nl.rivm.screenit.dao.mamma.impl"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="CurrentDateDispatcherImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="JGroupsChannelImpl.class"/>

    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="GebruikersServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="AutorisatieServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="LogServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="DashboardServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="MailServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="ScopeServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="BaseBriefServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="AsposeServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="ClientServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="BaseAfmeldServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="OpenUitnodigingServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="TestServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="BezwaarServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="AuthenticatieServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="DossierFactoryImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="InstellingServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="CoordinatenServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="BaseClientContactServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="BaseScreeningRondeServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="BaseTestTimelineServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="S3FileServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="DiskFileServiceImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="UploadDocumentServiceImpl.class"/>

    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="BerichtToBatchServiceImpl.class"/>

    <context:component-scan base-package="nl.rivm.screenit.service.impl" resource-pattern="ClientDoelgroepServiceImpl.class"/>

    <bean id="berichtToSeRestBkServiceImpl" class="nl.rivm.screenit.service.impl.BerichtToSeRestBkServiceImpl"/>

    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="GebruikerDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="LogDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="DashboardDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="PreferenceDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="BaseBriefDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="UploadDocumentDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="UitnodigingsDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="ClientDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="CoordinatenDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="GbaBaseDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="InstellingDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="HuisartsBerichtTemplateDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="VerslagDaoImpl.class"/>
    <context:component-scan base-package="nl.rivm.screenit.dao.impl" resource-pattern="PreferenceDaoWithIdCacheImpl.class"/>

    <context:component-scan base-package="nl.rivm.screenit.cache" resource-pattern="CacheMBeanRegistration.class"/>
    <context:component-scan base-package="nl.rivm.screenit.factory.impl"/>

    
    <context:component-scan base-package="nl.rivm.screenit.mamma.se.service.impl"/>
    <context:component-scan base-package="nl.rivm.screenit.mamma.se.dao.impl"/>
    <context:component-scan base-package="nl.rivm.screenit.mamma.se.controller"/>

    
    <context:component-scan base-package="nl.rivm.screenit.mamma.se.websocket"/>

    <jpa:repositories base-package="nl.rivm.screenit.repository"/>

</beans>
