@charset "utf-8";
.cp-btn {
  padding: 2px 5px;
  display: inline-block;
  color: #005FB3;
  text-decoration: none;
  white-space: nowrap;

  span {
    text-decoration: none;
    border-bottom: 1px solid #005FB3;
  }

  &:active,
  &:visited {
    color: #005FB3;
  }

  &:hover {
    color: white;
    background-color: #005FB3;
    text-decoration: none;

    span {
      border-bottom: 0 none;
    }
  }

  font-size: rs(13, $base-fs);
  font-family: $fontFamily2;

  @include border-radius(3px);
}


.btn.btn-primary {
  background-image: none;
  filter: none;
  border-color: darken($primary-color, $darkenStrength);
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, $darkenStrength);
    background-position: 0 0;
  }
}

.clientenportaal .btn.btn-primary[disabled=true] {
  background-color: #eee;
  border-color: #ccc;
  color: #6D6D6D;
  text-shadow: 0 0 0 transparent;
  &:hover {
    background-color: #eee;
  }
}