[class^="icon-"],
[class*="icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"] {

  background-image: url("../images/icons/glyphicons-halflings.png");

  &.icon-white {
    background-image: url("../images/icons/glyphicons-halflings-white.png");
  }
}

.icon {
  margin: -1px 0 -1px 0;
  display: inline-block;
  vertical-align: text-top;
}
