.down-arrow {
  background-image: url(/images/svg/down-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 30px;
  height: 36px;
  display: block;
  margin: auto;
}
