<?xml version="1.0" encoding="UTF-8"?>
<!--
  ========================LICENSE_START=================================
  screenit-web
  %%
  Copyright (C) 2012 - 2020 Facilitaire Samenwerking Bevolkingsonderzoek
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  =========================LICENSE_END==================================
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <bean id="digid.httpsSender" class="nl.topicuszorg.digid.client.cgi.HttpsSenderImpl">
        <property name="keystoreLocation" ref="digid.keystoreLocation"/>
        <property name="keystorePassword" value=""/>
    </bean>

    <bean id="digid.digidClient" class="nl.topicuszorg.digid.client.cgi.DigidClientCgi">
        <property name="digidUrl" ref="digid.digidUrl"/>
        <property name="httpsSender" ref="digid.httpsSender"/>
    </bean>

    <bean id="digid.digidService" class="nl.topicuszorg.digid.services.impl.DigidServiceImpl">
        <property name="applicatieId" ref="digid.applicatieId"/>
        <property name="sharedSecret" ref="digid.sharedSecret"/>
        <property name="ASelectServer" ref="digid.aSelectServer"/>
        <property name="digidClient" ref="digid.digidClient"/>
    </bean>

    <bean id="digid.digidSettingsService" class="nl.topicuszorg.digid.services.impl.SimpleDigidSettingsService">
        <property name="startPage" value="nl.rivm.screenit.main.web.client.dashboard.home.ClientHomeDashboardPage"/>
    </bean>

    <bean id="digid.digidMessageConverter" class="nl.topicuszorg.digid.util.DefaultDigidMessageConverter">
    </bean>

    <jee:jndi-lookup id="digid.digidUrl" jndi-name="digid/digidurl"/>
    <jee:jndi-lookup id="digid.applicatieId" jndi-name="digid/applicatieId"/>
    <jee:jndi-lookup id="digid.sharedSecret" jndi-name="digid/sharedSecret"/>
    <jee:jndi-lookup id="digid.aSelectServer" jndi-name="digid/aSelectServer"/>
    <jee:jndi-lookup id="digid.keystoreLocation" jndi-name="digid/keystoreLocation"/>

</beans>
