<?xml version="1.0" encoding="UTF-8"?>
<!--
  ========================LICENSE_START=================================
  screenit-web
  %%
  Copyright (C) 2012 - 2021 Facilitaire Samenwerking Bevolkingsonderzoek
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  =========================LICENSE_END==================================
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="recurrenceFactory" class="nl.topicus.wicket.calendar.RecurrenceFactory">
        <property name="recurrences">
            <map>
                <entry key="Geen" value="nl.topicuszorg.wicket.planning.model.appointment.recurrence.NoRecurrence"/>
                <entry key="Dagelijks" value="nl.topicuszorg.wicket.planning.model.appointment.recurrence.DailyRecurrence"/>
                <entry key="Wekelijks" value="nl.topicuszorg.wicket.planning.model.appointment.recurrence.WeeklyRecurrence"/>
                <entry key="Maandelijks" value="nl.topicuszorg.wicket.planning.model.appointment.recurrence.MonthlyRecurrence"/>
                <entry key="Jaarlijks" value="nl.topicuszorg.wicket.planning.model.appointment.recurrence.YearlyRecurrence"/>
            </map>
        </property>
    </bean>
</beans>
