@charset "utf-8";
.capaciteitskalender-popover {
  &.top .arrow {
    bottom: -10px;
    left: 4%;
  }
  .popover-content {
    color: #54026e;
    font-size: 13px;
    line-height: 16px;
    padding-top: 3px;
  }
}