@charset "utf-8";
.logging-overview {
  .column-gebeurtenis {
    width: 220px;
  }
  .column-datum-tijd {
    width: 120px;
  }
  .column-gebruiker {
    width: 180px;
  }
  .column-bsn {
    width: 280px;
  }
}