.retourzending-totalen {
  .control-label {
    width: 260px;
  }
  .controls {
    margin-left: 280px;
  }
}

.overgeslagen {
  margin-top: 20px;

  .melding {
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
  }
}
