@charset "utf-8";

$fontFamily1: Verdana, Arial, sans-serif;
$fontFamily2: Arial, Verdana, Tahoma, sans-serif;

$defaultLabelWidth: 175px;
$invalidColor: red;


$base-font-size: 16;
$base-line-height: 24;
$base-fs: $base-font-size;
$base-lh: $base-line-height;

$primary-color: #623483;
$darkenStrength: 12;
$secondary-color: #fff;
$succesBgColor: #b7d851;
$beschikbaarColor: #34C27D;

$linkColor: #154273;
$primary-text-color: #000;

$noord1: #a6c0df;
$noord2: #6b8cb3;
$noord3: #7ea5d1;
$noordLogo: '../images/clientenportaal/regios/logo_regio_noord.png';
$noordFooter: '../images/clientenportaal/regios/footer-regio-noord.png';

$oost1: #ada900;
$oost2: #938f00;
$oost3: #aba700;
$oostLogo: '../images/clientenportaal/regios/logo_regio_oost.png';
$oostFooter: '../images/clientenportaal/regios/footer-regio-oost.png';

$zuid1: #b2dcd2;
$zuid2: #69978e;
$zuid3: #91cdbf;
$zuidLogo: '../images/clientenportaal/regios/logo_regio_zuid.png';
$zuidFooter: '../images/clientenportaal/regios/footer-regio-zuid.png';

$middenWest1: #fad0db;
$middenWest2: #e62343;
$middenWest3: #f8bccc;
$middenWestLogo: '../images/clientenportaal/regios/logo_regio_mw.png';
$middenWestFooter: '../images/clientenportaal/regios/footer-regio-mw.png';

$zuidWest1: #f9c17e;
$zuidWest2: #d18f3f;
$zuidWest3: #f7a747;
$zuidWestLogo: '../images/clientenportaal/regios/logo_regio_zw.png';
$zuidWestFooter: '../images/clientenportaal/regios/footer-regio-zw.png';

$fsbLogo: '../images/clientenportaal/regios/logo_fsb.jpg';