@import "src/scss/colors";
@import "src/scss/media-mixins";

.errorLabel {
  position: relative;
  color: $rood-base;
  font-size: 0.7rem;
  width: 100%;
  margin-bottom: 0;
}

.radioGroup {
  list-style: none;
  margin-left: -40px;
}

.datepicker {
  width: 100%;
}