<!--
  ========================LICENSE_START=================================
  screenit-batch-dk
  %%
  Copyright (C) 2012 - 2021 Facilitaire Samenwerking Bevolkingsonderzoek
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  =========================LICENSE_END==================================
  -->
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/batch"
             xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
           http://www.springframework.org/schema/batch
           http://www.springframework.org/schema/batch/spring-batch-3.0.xsd">

    

    
    <beans:bean id="ifobtRappelBriefReader" class="nl.rivm.screenit.batch.jobs.colon.ifobtrappel.rappelstep.IfobtRappelBriefReader"/>
    <beans:bean id="ifobtRappelBriefWriter" class="nl.rivm.screenit.batch.jobs.colon.ifobtrappel.rappelstep.IfobtRappelBriefWriter"/>
    <beans:bean id="ifobtRappelJobListener" class="nl.rivm.screenit.batch.jobs.colon.ifobtrappel.IfobtRappelJobListener"/>

    
    <beans:bean id="gunstigeUitslagBriefReader" class="nl.rivm.screenit.batch.jobs.colon.gunstigeuitslag.gunstigestep.GunstigeUitslagBriefReader"/>
    <beans:bean id="gunstigeUitslagBriefWriter" class="nl.rivm.screenit.batch.jobs.colon.gunstigeuitslag.gunstigestep.GunstigeUitslagBriefWriter"/>
    <beans:bean id="gunstigeUitslagJobListener" class="nl.rivm.screenit.batch.jobs.colon.gunstigeuitslag.GunstigeUitslagJobListener"/>

    
    <beans:bean id="noShowHuisartberichtReader" class="nl.rivm.screenit.batch.jobs.colon.vervolgintakeconclusie.versturennoshow.HuisartsNoShowReader"/>
    <beans:bean id="noShowHuisartberichtWriter" class="nl.rivm.screenit.batch.jobs.colon.vervolgintakeconclusie.versturennoshow.HuisartsNoShowWriter"/>
    
    <beans:bean id="herinneringClientWilAnderIntakeLocatieBriefReader" class="nl.rivm.screenit.batch.jobs.colon.vervolgintakeconclusie.briefandereintakelocatie.HerinneringClientWilAnderIntakeLocatieBriefReader"/>
    <beans:bean id="herinneringClientWilAnderIntakeLocatieBriefWriter" class="nl.rivm.screenit.batch.jobs.colon.vervolgintakeconclusie.briefandereintakelocatie.HerinneringClientWilAnderIntakeLocatieBriefWriter"/>

    <beans:bean id="vervolgIntakeConclusieJobListener" class="nl.rivm.screenit.batch.jobs.colon.vervolgintakeconclusie.VervolgIntakeConclusieJobListener"/>

    
    <beans:bean id="oneindigeRoosterItemReader" class="nl.rivm.screenit.batch.jobs.colon.oneindigetijdsloten.roosteritems.OneindigeRoosterItemReader"/>
    <beans:bean id="oneindigeRoosterItemWriter" class="nl.rivm.screenit.batch.jobs.colon.oneindigetijdsloten.roosteritems.OneindigeRoosterItemWriter"/>
    <beans:bean id="oneindigeBlokkadeReader" class="nl.rivm.screenit.batch.jobs.colon.oneindigetijdsloten.blokkades.OneindigeBlokkadeReader"/>
    <beans:bean id="oneindigeBlokkadeWriter" class="nl.rivm.screenit.batch.jobs.colon.oneindigetijdsloten.blokkades.OneindigeBlokkadeWriter"/>
    <beans:bean id="oneindigeTijdslotenListener" class="nl.rivm.screenit.batch.jobs.colon.oneindigetijdsloten.OneindigeTijdslotenListener"/>

    
    <beans:bean id="ifobtVerwerkingReader" class="nl.rivm.screenit.batch.jobs.colon.ifobtverwerking.verwerkingstep.IFOBTVerwerkingReader"/>
    <beans:bean id="ifobtVerwerkingProcessor" class="nl.rivm.screenit.batch.jobs.colon.ifobtverwerking.verwerkingstep.IFOBTVerwerkingProcessor"/>
    <beans:bean id="ifobtVerwerkingWriter" class="nl.rivm.screenit.batch.jobs.colon.ifobtverwerking.verwerkingstep.IFOBTVerwerkingWriter"/>
    <beans:bean id="ifobtVerwerkingListener" class="nl.rivm.screenit.batch.jobs.colon.ifobtverwerking.IfobtVerwerkingListener"/>

    
    <beans:bean id="intakeAfsprakenMakenReader" class="nl.rivm.screenit.batch.jobs.colon.intake.afsprakenmakenstep.IntakeAfsprakenMakenReader"/>
    <beans:bean id="intakeAfsprakenMakenWriter" class="nl.rivm.screenit.batch.jobs.colon.intake.afsprakenmakenstep.IntakeAfsprakenMakenWriter"/>
    <beans:bean id="intakeAfsprakenMakenListener" class="nl.rivm.screenit.batch.jobs.colon.intake.IntakeAfsprakenMakenListener"/>
    <beans:bean id="intakeAfsprakenMakenDecider" class="nl.rivm.screenit.batch.jobs.colon.intake.IntakeAfsprakenMakenDecider"/>

    
    <beans:bean id="iFobtKoppelReader" class="nl.rivm.screenit.batch.jobs.colon.ifobtkoppelen.koppelstep.IFobtKoppelReader"/>
    <beans:bean id="iFobtKoppelWriter" class="nl.rivm.screenit.batch.jobs.colon.ifobtkoppelen.koppelstep.IFobtKoppelWriter"/>
    <beans:bean id="iFobtKoppelListener" class="nl.rivm.screenit.batch.jobs.colon.ifobtkoppelen.IfobtKoppelenListener"/>

    
    <beans:bean id="overledenReader" class="nl.rivm.screenit.batch.jobs.colon.aftergba.overledenstep.OverledenReader"/>
    <beans:bean id="overledenWriter" class="nl.rivm.screenit.batch.jobs.colon.aftergba.overledenstep.OverledenWriter"/>
    <beans:bean id="retourzendingReader" class="nl.rivm.screenit.batch.jobs.colon.aftergba.retourzendingstep.RetourzendingReader"/>
    <beans:bean id="retourzendingWriter" class="nl.rivm.screenit.batch.jobs.colon.aftergba.retourzendingstep.RetourzendingWriter"/>
    <beans:bean id="uitnodigingsgebiedReader" class="nl.rivm.screenit.batch.jobs.colon.aftergba.uitnodigingsgebiedstep.UitnodigingsgebiedReader"/>
    <beans:bean id="uitnodigingsgebiedWriter" class="nl.rivm.screenit.batch.jobs.colon.aftergba.uitnodigingsgebiedstep.UitnodigingsgebiedWriter"/>
    <beans:bean id="afterGbaListener" class="nl.rivm.screenit.batch.jobs.colon.aftergba.AfterGbaListener"/>

    <beans:bean id="koppelPromotionListener" class="org.springframework.batch.core.listener.ExecutionContextPromotionListener">
        <beans:property name="keys">
            <beans:list>
                <beans:value>koppelXMLData</beans:value>
            </beans:list>
        </beans:property>
        <beans:property name="statuses">
            <beans:list>
                <beans:value>COMPLETED</beans:value>
                <beans:value>FAILED</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>

    
    <beans:bean id="colonClientSelectieItemReader" class="nl.rivm.screenit.batch.jobs.colon.selectie.selectiestep.ClientSelectieItemReader" scope="step">
        <beans:property name="fetchSize" value="50"/>
    </beans:bean>
    <beans:bean id="colonGebiedClientSelectieItemReader" class="nl.rivm.screenit.batch.jobs.colon.selectie.selectiestep.ClientSelectieMetCapaciteitItemReader" scope="step">
        <beans:property name="fetchSize" value="50"/>
    </beans:bean>
    <beans:bean id="colonUitnodigingU1PushReader" class="nl.rivm.screenit.batch.jobs.colon.selectie.uitnodingingpushstep.UitnodigingU1PushReader"/>
    <beans:bean id="colonUitnodigingU2PushReader" class="nl.rivm.screenit.batch.jobs.colon.selectie.uitnodingingpushstep.UitnodigingU2PushReader"/>
    <beans:bean id="colonClientSelectieItemWriter" class="nl.rivm.screenit.batch.jobs.colon.selectie.selectiestep.ClientSelectieItemWriter" scope="step"/>
    <beans:bean id="colonClientSelectieListener" class="nl.rivm.screenit.batch.jobs.colon.selectie.SelectieListener"/>
    <beans:bean id="colonVerlopenRondesWriter" class="nl.rivm.screenit.batch.jobs.colon.selectie.afrondenstep.ColonVerlopenRondesWriter"/>
    <beans:bean id="colonVerlopenRondesReader" class="nl.rivm.screenit.batch.jobs.colon.selectie.afrondenstep.ColonVerlopenRondesReader"/>


	<beans:bean id="preSelectieStepTasklet" class="nl.rivm.screenit.batch.jobs.preselectie.ClientPreSelectieTasklet"/>

    
    <beans:bean id="colonClientSelectiePromotionListener" class="org.springframework.batch.core.listener.ExecutionContextPromotionListener">
        <beans:property name="keys">
            <beans:list>
                <beans:value>key.selectierapportage</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>

    
    <job id="ifobt_herinnering" restartable="true">
        <step id="ifobt_herinnering_step">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="ifobtRappelBriefReader"
                       writer="ifobtRappelBriefWriter"
                       commit-interval="10">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="ifobtRappelJobListener"/>
        </listeners>
    </job>

    
    <job id="gunstige_uitslag" restartable="true">
        <step id="gunstige_uitslag_step">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="gunstigeUitslagBriefReader"
                       writer="gunstigeUitslagBriefWriter"
                       commit-interval="10">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="gunstigeUitslagJobListener"/>
        </listeners>
    </job>

    
    <job id="intake_afspraken_maken">

        <decision id="intake_afspraken_maken_decider" decider="intakeAfsprakenMakenDecider">
            <next on="FAILED" to="intake_afspraken_maken_step"/>
            <end on="COMPLETED"/>
        </decision>

        <step id="intake_afspraken_maken_step" next="intake_afspraken_maken_decider">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="intakeAfsprakenMakenReader"
                       writer="intakeAfsprakenMakenWriter" commit-interval="20">
                </chunk>
            </tasklet>
        </step>

        <listeners>
            <listener ref="intakeAfsprakenMakenListener"/>
        </listeners>
    </job>

    <job id="vervolg_intake_conclusie_batch" restartable="true">
        <step id="verstuur_no_show_berichten">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="noShowHuisartberichtReader"
                       writer="noShowHuisartberichtWriter"
                       commit-interval="10">
                </chunk>
            </tasklet>
            <next on="*" to="herinnering_client_wil_andere_intakelocatie"/>
            <next on="FAILED" to="herinnering_client_wil_andere_intakelocatie"/>
        </step>
        <step id="herinnering_client_wil_andere_intakelocatie">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="herinneringClientWilAnderIntakeLocatieBriefReader"
                       writer="herinneringClientWilAnderIntakeLocatieBriefWriter"
                       commit-interval="10">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="vervolgIntakeConclusieJobListener"/>
        </listeners>
    </job>

    
    <beans:bean id="colonMislukteHuisartsberichtenVersturenReader"
                class="nl.rivm.screenit.batch.jobs.colon.huisartsberichten.step.ColonMislukteHuisartsberichtenVersturenReader"/>
    <beans:bean id="colonMislukteHuisartsberichtenVersturenWriter"
                class="nl.rivm.screenit.batch.jobs.colon.huisartsberichten.step.ColonMislukteHuisartsberichtenVersturenWriter"/>
    <beans:bean id="colonMislukteHuisartsberichtenVersturenListener"
                class="nl.rivm.screenit.batch.jobs.colon.huisartsberichten.ColonMislukteHuisartsberichtenVersturenListener"/>


    <job id="colon_huisartsberichten_opnieuw_versturen">
        <step id="huisartsberichten_opnieuw_versturen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="colonMislukteHuisartsberichtenVersturenReader"
                       writer="colonMislukteHuisartsberichtenVersturenWriter" commit-interval="50">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="colonMislukteHuisartsberichtenVersturenListener"/>
        </listeners>
    </job>

    
    <job id="oneindige_roosteritems_uitrollen">
        <step id="rooster_items_uitrollen" next="blokkades_uitrollen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="oneindigeRoosterItemReader"
                       writer="oneindigeRoosterItemWriter" commit-interval="10">
                </chunk>
            </tasklet>
        </step>
        <step id="blokkades_uitrollen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="oneindigeBlokkadeReader"
                       writer="oneindigeBlokkadeWriter" commit-interval="10">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="oneindigeTijdslotenListener"/>
            <listener ref="koppelPromotionListener"/>
        </listeners>
    </job>


    
    <job id="koppeldata_verwerking">
        <step id="koppelen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="iFobtKoppelReader"
                       writer="iFobtKoppelWriter" commit-interval="250">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="iFobtKoppelListener"/>
            <listener ref="koppelPromotionListener"/>
        </listeners>
    </job>


    
    <job id="ifobt_verwerking" restartable="true">
        <step id="ifobt_verwerking_step">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="ifobtVerwerkingReader"
                       writer="ifobtVerwerkingWriter"
                       processor="ifobtVerwerkingProcessor"
                       commit-interval="10">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="ifobtVerwerkingListener"/>
        </listeners>

    </job>

    
    <job id="client_selectie" restartable="true">
        <step id="pre_selectie_step" next="colonUitnodigingU1PushStep">
            <tasklet ref="preSelectieStepTasklet"
                     transaction-manager="transactionManager">
            </tasklet>
        </step>
        <step id="colonUitnodigingU1PushStep" next="colonUitnodigingU2PushStep">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="colonUitnodigingU1PushReader"
                       writer="colonClientSelectieItemWriter" commit-interval="1">
                </chunk>
            </tasklet>
        </step>
        <step id="colonUitnodigingU2PushStep" next="afronden">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="colonUitnodigingU2PushReader"
                       writer="colonClientSelectieItemWriter" commit-interval="1">
                </chunk>
            </tasklet>
        </step>
        <step id="afronden" next="selectiesplit">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="colonVerlopenRondesReader"
                       writer="colonVerlopenRondesWriter" commit-interval="10">
                </chunk>
            </tasklet>
        </step>
        <split id="selectiesplit" task-executor="threadTaskExecutor">
            <flow>
                <step id="colonSelectieGebied">
                    <tasklet transaction-manager="transactionManager">
                        <chunk reader="colonGebiedClientSelectieItemReader"
                               writer="colonClientSelectieItemWriter" commit-interval="1">
                        </chunk>
                    </tasklet>
                    <listeners>
                        <listener ref="colonClientSelectiePromotionListener"/>
                    </listeners>
                </step>
            </flow>
            <flow>
                <step id="colonSelectie">
                    <tasklet transaction-manager="transactionManager">
                        <chunk reader="colonClientSelectieItemReader"
                               writer="colonClientSelectieItemWriter" commit-interval="1">
                        </chunk>
                    </tasklet>
                    <listeners>
                        <listener ref="colonClientSelectiePromotionListener"/>
                    </listeners>
                </step>
            </flow>
        </split>

        <listeners>
            <listener ref="colonClientSelectieListener"/>
        </listeners>
    </job>


    
    <beans:bean id="colonBrievenPartitionHandler" class="org.springframework.batch.core.partition.support.TaskExecutorPartitionHandler">
        <beans:property name="taskExecutor" ref="taskExecutor"/>
        <beans:property name="step" ref="colonBrievenGenereren"/>
        <beans:property name="gridSize" value="10"/>
    </beans:bean>
    <beans:bean id="colonBrievenListener" class="nl.rivm.screenit.batch.jobs.colon.brieven.ColonBrievenListener"/>
    <beans:bean id="colonBrievenPartitioner" class="nl.rivm.screenit.batch.jobs.colon.brieven.genererenstep.ColonBrievenGenererenPartitioner"/>
    <beans:bean id="colonBrievenReader" class="nl.rivm.screenit.batch.jobs.colon.brieven.genererenstep.ColonBrievenGenererenReader"/>
    <beans:bean id="colonBrievenProcessor" class="nl.rivm.screenit.batch.jobs.colon.brieven.genererenstep.ColonBrievenGenererenProcessor"/>
    <beans:bean id="colonBrievenWriter" class="nl.rivm.screenit.batch.jobs.colon.brieven.genererenstep.ColonBrievenGenererenWriter"/>
    <beans:bean id="colonBriefCleanupReader" class="nl.rivm.screenit.batch.jobs.colon.brieven.cleanupstep.ColonBriefCleanupReader"/>
    <beans:bean id="colonBriefCleanupWriter" class="nl.rivm.screenit.batch.jobs.colon.brieven.cleanupstep.ColonBriefCleanupWriter"/>

    <beans:bean id="colonBrievenControleReader" class="nl.rivm.screenit.batch.jobs.colon.brieven.controle.ColonBrievenControleReader"/>
    <beans:bean id="colonBrievenControleWriter" class="nl.rivm.screenit.batch.jobs.colon.brieven.controle.ColonBrievenControleWriter"/>


    
    <job id="brieven_genereren">
        <step id="colonBrievenCleanup" next="genereren.master">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="colonBriefCleanupReader"
                       writer="colonBriefCleanupWriter" commit-interval="250">
                </chunk>
            </tasklet>
        </step>
        <step id="genereren.master" next="colonBrievenControle">
            <partition partitioner="colonBrievenPartitioner" handler="colonBrievenPartitionHandler" step="colonBrievenGenereren"/>
        </step>
        <step id="colonBrievenControle">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="colonBrievenControleReader"
                       writer="colonBrievenControleWriter" commit-interval="250">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="colonBrievenListener"/>
        </listeners>
    </job>

    <step id="colonBrievenGenereren">
        <tasklet transaction-manager="transactionManager">
            <chunk reader="colonBrievenReader"
                   processor="colonBrievenProcessor"
                   writer="colonBrievenWriter" commit-interval="50">
            </chunk>
        </tasklet>
    </step>

    
    <job id="colon_na_gba">
        <step id="retourzending" next="uitnodigingsgebied">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="retourzendingReader"
                       writer="retourzendingWriter" commit-interval="250">
                </chunk>
            </tasklet>
        </step>
        <step id="uitnodigingsgebied" next="overleden">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="uitnodigingsgebiedReader"
                       writer="uitnodigingsgebiedWriter" commit-interval="250">
                </chunk>
            </tasklet>
        </step>
        <step id="overleden">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="overledenReader"
                       writer="overledenWriter" commit-interval="20">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="afterGbaListener"/>
        </listeners>
    </job>

    
    <beans:bean id="colonUitnodigingenBrievenCleanUpReader" class="nl.rivm.screenit.batch.jobs.colon.uitnodigingenversturen.cleanupstep.ColonUitnodigingenBrievenCleanUpReader"/>
    <beans:bean id="colonUitnodigingenBrievenCleanUpWriter" class="nl.rivm.screenit.batch.jobs.colon.uitnodigingenversturen.cleanupstep.ColonUitnodigingenBrievenCleanUpWriter"/>
    <beans:bean id="colonUitnodigingVersturenJobTasklet" class="nl.rivm.screenit.batch.jobs.colon.uitnodigingenversturen.versturenstep.ColonUitnodigingenVersturenTasklet"/>
    <beans:bean id="colonUitnodigingVersturenJobListener" class="nl.rivm.screenit.batch.jobs.colon.uitnodigingenversturen.UitnodigingenVersturenListener"/>

    <job id="uitnodiging_versturen_naar_inpakcentrum_job_dk">
        <step id="colon_uitnodigingen_brieven_cleanup_step" next="uitnodigingenVersturen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="colonUitnodigingenBrievenCleanUpReader"
                       writer="colonUitnodigingenBrievenCleanUpWriter" commit-interval="250">
                </chunk>
            </tasklet>
        </step>
        <step id="uitnodigingenVersturen">
            <tasklet ref="colonUitnodigingVersturenJobTasklet"
                     transaction-manager="transactionManager">
            </tasklet>
        </step>
        <listeners>
            <listener ref="colonUitnodigingVersturenJobListener"/>
        </listeners>
    </job>

    <beans:bean id="colonHuisartsOntkoppelenReader" class="nl.rivm.screenit.batch.jobs.colon.huisartsontkoppelen.ontkoppelstep.ColonHuisartsOntkoppelenReader"/>
    <beans:bean id="colonHuisartsOntkoppelenWriter" class="nl.rivm.screenit.batch.jobs.colon.huisartsontkoppelen.ontkoppelstep.ColonHuisartsOntkoppelenWriter"/>
    <beans:bean id="colonHuisartsOntkoppelenListener" class="nl.rivm.screenit.batch.jobs.colon.huisartsontkoppelen.ColonHuisartsOntkoppelenListener"/>

    <job id="huisarts_ontkoppelen_job_dk">
        <step id="huisartsOntkoppelen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="colonHuisartsOntkoppelenReader"
                       writer="colonHuisartsOntkoppelenWriter" commit-interval="250">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="colonHuisartsOntkoppelenListener"/>
        </listeners>
    </job>

    <beans:bean id="ilmApplicatieLoggingVerwijderenReader" class="nl.rivm.screenit.batch.jobs.ilm.applicatielogging.IlmApplicatieLoggingVerwijderenReader">
        <beans:property name="bvo" value="COLON"/>
    </beans:bean>
    <beans:bean id="ilmApplicatieLoggingVerwijderenWriter" class="nl.rivm.screenit.batch.jobs.ilm.applicatielogging.IlmApplicatieLoggingVerwijderenWriter"/>
    <beans:bean id="colonILMJobListener" class="nl.rivm.screenit.batch.jobs.colon.ilm.ColonILMJobListener"/>

    <job id="colon_ilm" restartable="true">
        <step id="ilm_applicatie_logging_verwijderen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="ilmApplicatieLoggingVerwijderenReader"
                       writer="ilmApplicatieLoggingVerwijderenWriter" commit-interval="250">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="colonILMJobListener"/>
        </listeners>
    </job>

</beans:beans>
