.span-rooster-list.rooster-tm {
	font-size: 12px;
	vertical-align: middle;
	padding: 4px 12px;
	width: fit-content;
	margin: 0;
}

.input-append.start-datum {
	float: left;
}

.clear-left {
	clear: left;
}

.select2-container.select-kamer {
	margin-left: 0;
}
