$wit: white;
$wit-doorzichtig: rgba(255, 255, 255, 0.9);
$tabel-background: #f9f9f9;
$zwart: black;
$grijs: #acacac;
$paars: #54026e;
$donkerpaars: #440959;
$lichtpaars: #730d94;
$groen: #97A300;
$rood: #a94442;
$donkerrood: #bd362f;
$blauw: #2f96b4;
$oranje: #f89406;
$groen: #51a351;
$primary: $paars;
$danger: $donkerrood;