<!--
  ========================LICENSE_START=================================
  screenit-webservice-broker
  %%
  Copyright (C) 2012 - 2020 Facilitaire Samenwerking Bevolkingsonderzoek
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  =========================LICENSE_END==================================
  -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd">


    <jee:jndi-lookup id="inpakCentrumInlognaam" jndi-name="inpakCentrumInlognaam"/>
    <jee:jndi-lookup id="inpakCentrumWachtwoord" jndi-name="inpakCentrumWachtwoord"/>
    <jee:jndi-lookup id="scanInlognaam" jndi-name="scanInlognaam"/>
    <jee:jndi-lookup id="scanWachtwoord" jndi-name="scanWachtwoord"/>
    <jee:jndi-lookup id="schematronLocation" jndi-name="schematron/location"/>
    <jee:jndi-lookup id="ultimviewInlognaam" jndi-name="ultimviewInlognaam"/>
    <jee:jndi-lookup id="ultimviewWachtwoord" jndi-name="ultimviewWachtwoord"/>
    <jee:jndi-lookup id="fqdncontrole" jndi-name="fqdncontrole"/>
    <jee:jndi-lookup id="labformulierInlognaam" jndi-name="labformulierInlognaam"/>
    <jee:jndi-lookup id="labformulierWachtwoord" jndi-name="labformulierWachtwoord"/>
    <jee:jndi-lookup id="hpvPorts" jndi-name="hl7hpv/ports" expected-type="java.lang.String" default-value="9600"/>
    <jee:jndi-lookup id="ifobtPorts" jndi-name="hl7ifobt/ports" expected-type="java.lang.String" default-value="9601"/>

    <jee:jndi-lookup id="hl7ImsPort" jndi-name="hl7IMS/ORM-port" expected-type="java.lang.Integer" default-value="9602"/>

    <jee:jndi-lookup id="hl7IlmPort" jndi-name="hl7IMS/ORM-ILM-port" expected-type="java.lang.Integer" default-value="9605"/>


</beans>
