
.font-bold {
	font-weight: bold;
}

.font-size-medium {
	font-size: medium;
}

.font-size-14px {
	font-size: 14px;
}

.font-size-13px {
	font-size: 13px;
}

.font-size-12px {
	font-size: 12px;
}

.text-underline {
	text-decoration: underline
}

.font-italic-grey {
	font-style: italic;
	color: grey;
}

.font-italic {
	font-style: italic;
}