
.margin-0 {
	margin: 0;
}

.span8.selecteer-instelling-uploadverzoek {
	margin-left: 0;
}

.margin-top-5px {
	margin-top: 5px;
}

.margin-top-20px {
	margin: 20px;
}

.margin-top-10px {
	margin-top: 10px;
}

.margin-top-50px {
	margin-top: 50px;
}

.margin-bottom-5px {
	margin-bottom: 5px;
}

.margin-bottom-10px {
	margin-bottom: 100px;
}

.margin-bottom-0px {
	margin-bottom: 0px;
}

.margin-right-10px {
	margin-right: 10px;
}

.margin-right-20px {
	margin-right: 20px;
}

.margin-right-24px {
	margin-right: 24px;
}

.margin-right-25px {
	margin-right: 25px;
}

.margin-top-9px {
	margin-top: 9px;
}

.margin-left-0px {
	margin-left: 0px;
}

.margin-left-5px {
	margin-left: 5px;
}

.margin-left-16px {
	margin-left: 16px;
}

.margin-left-60px {
	margin-left: 60px;
}

.margin-left-0 {
	margin-left: 0;
}

.line-height-normal {
	line-height: normal;
}

.margin-left-30px {
	margin-left: 30px;
}

.margin-left-42px {
	margin-left: 42px;
}

.margin-left-185px {
	margin-left: 185px;
}

.margin-left-345px {
	margin-left: 345px;
}

.margin-left-165px {
	margin-left: 165px;
}

.margin-left-335px {
	margin-left: 335px;
}

.margin-top-0px {
	margin-top: 0px;
}

.margin-top-12px {
	margin-top: 12px;
}

.margin-left-20px {
	margin-left: 20px;
}

.margin-left-10px {
	margin-left: 10px;
}


.margin-left-10px {
	margin-left: 10px;
}

.margin-left-3px {
	margin-left: 3px;
}
