$legacy-support-for-ie: true !default;

$legacy-support-for-ie6: $legacy-support-for-ie !default;

$legacy-support-for-ie7: $legacy-support-for-ie !default;

$legacy-support-for-ie8: $legacy-support-for-ie !default;

$legacy-support-for-ie: $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie8;

$legacy-support-for-mozilla: true;

$experimental-support-for-mozilla: true !default;
$experimental-support-for-webkit: true !default;
$support-for-original-webkit-gradients: true !default;
$experimental-support-for-opera: true !default;
$experimental-support-for-microsoft: true !default;
$experimental-support-for-khtml: false !default;
$experimental-support-for-svg: false !default;
$experimental-support-for-pie: false !default;