
.width-30px {
	width: 30px;
}


.width-13procent {
	width: 13%;
}

.width-12procent {
	width: 12%;
}

.width-50px {
	width: 50px;
}

.width-140px {
	width: 140px;
}

.width-171px {
	width: 171px;
}

.width-450px {
	width: 450px;
}

.width-1000px {
	width: 1000px
}

.padding-top-0 {
	padding-top: 0;
}

.width-auto {
	width: auto;
}

.width-100procent {
	width: 100%;
}

.span6.width-100procent {
	width: 100%;
}

.width-90procent {
	width: 90%
}

.width-95procent {
	width: 95%;
}

.width-96procent {
	width: 96%;
}

.width-80procent {
	width: 80%;
}

.width-600px {
	width: 600px;
}

.width-18procent {
	width: 18%;
}

.width-20procent {
	width: 20%;
}

.width-55px {
	width: 55px;
}

.span2.postcode-huisarts-panel {
	width: 65px;
}

.width-258px {
	width: 258px;
}

.width-530px {
	width: 530px;
}

.width-340px {
	width: 340px;
}

.height-450px {
	height: 450px;
}

.height-95procent {
	height: 95%;
}

.height-100procent {
	height: 100%;
}

.height-60procent {
	height: 60%;
}

.height-60px {
	height: 60px;
}

.height-inherit {
	height: inherit;
}

.max-height-600px {
	max-height: 600px;
}

.span12.width-height-inherit {
	height: inherit;
	width: inherit;
}

.span6.width-height-inherit {
	height: inherit;
	width: inherit;
}

.line-height-20px {
	line-height: 20px;
}


.height-20-px {
	height: 20px;
}

.min-height-0px {
	min-height: 0px;
}

.min-height-initial {
	min-height: initial;
}

.row-fluid.height-calc {
	height: calc(100vh - 225px);
}

.bottom-0 {
	bottom: 0;
}