.melding-bij-handmatige-invoer-in-barcodeveld {
	color: red;
	font-weight: normal;
}

.span-cervix-nummer {
	line-height: 30px;
	vertical-align: middle;
}

.cervix-base-panel-text {
	width: 100%;
	margin-right: 10px;
}

.hr-cervixbase {
	margin: 5px 0;
}

.cervix-popup-panel {
	vertical-align: middle;
	margin-left: 3px
}

.div.label.input.monster-signalering {
	margin: 0px;
}