@charset "utf-8";
.digid-inlog {

  h1 {
    font-size: rs(17, $base-fs);
    line-height: 1.8em;
    margin-top: 4px;
    font-weight: 500;
    font-family: Arial, Verdana, Tahoma, Sans-Serif;
  }

  p {
    font-size: rs(11, $base-fs);
    font-family: Verdana, Arial, Tahoma, sans-serif;
    line-height: 1.4em;
  }

  .rivm-logo {
    float: right;
  }
}