.box-bordered {
  border: 1px solid rgba(red, 0.5);
  background-color: #f8f8f8;
  padding: 15px;

  @include clearfix();
}

.form-horizontal .control-label {
  .icon-asterisk {
    float: right;
  }
}

.form-horizontal .control-group {
  margin-bottom: 5px;
}

.control-group.no-label .controls {
  margin-left: 0;
}

.control-group .info-icon {
  float: left;
  margin-top: 5px;
}

.controls .input-full {
  width: 100%;
}

label.radio label,
label.checkbox label {
  line-height: rs(16, 13);
}

.form-actions {
  margin: 0;
  padding: 0;
  border-top: 0 none;
  text-align: right;
  background-color: transparent;
}

input.hasDatepicker,
input.datum {
  width: 80px;
}

.ui-datepicker {
  z-index: 99999;
  clip: auto;
}

.datum-tijd {
  margin-right: 5px;
  float: left;
}

.time-field {
  display: block;
  float: left;
  line-height: $base-fs;
}

input.tijd {
  width: 40px;
}

input.straat {
  width: 143px;
}

input.huisnummer {
  width: 20px;
}

input.huisnummerToevoeging {
  width: 10px;
}

input.postcode {
  width: 50px;
}

input[type="text"].digits-2,
input[type="text"][maxlength="2"] {
  width: 20px;
}

input[type="text"].digits-3,
input[type="text"][maxlength="3"] {
  width: 30px;
}

input[type="text"].digits-4,
input[type="text"][maxlength="4"] {
  width: 40px;
}

.form-container {
  @extend .box-bordered;

  @include clearfix();

  h2 {
    margin: 0 0 20px 0;
    padding: 0;
    color: $primary-color;
  }

  .buttons {
    margin: 0;
  }
}

.verplicht-legenda {
  float: left;
  text-align: left;
  font-style: italic;
  margin-top: 3px;
  span {
    display: inline-block;
    padding-top: 8px;
  }

  .form-validation-icon {
    float: none;
  }
}

fieldset.form-horizontal,
fieldset.hero-unit {
  margin-bottom: 20px;
  padding: 15px;
}

fieldset.form-horizontal h3,
fieldset.centrum-zoeken h3 {
  margin: 0 0 20px 0;
  padding: 0;
  color: $primary-color;
}

fieldset.form-container {
  margin: 0;
}
