@charset "utf-8";
body.clientenportaal {
  background-color: #f1f2f3;
  margin: auto;
  max-width: 980px;
}

.content-container {
  margin: 0 20px 20px 20px;
  padding: 0;
  clear: both;
  background-color: white;

  @include clearfix();
  @include box-shadow(#a2a2a3 0px 0px 10px);
}

.page-container {
  margin: 20px;
  @include clearfix();
}

fieldset.hero-unit {
  @extend .box-bordered;

  h2 {
    color: $primary-color;
  }
}

.footer > .row-fluid {
  height: 50px;

  .logo-bevolkingsonderzoek {
    height: inherit;
    background: white url(../images/clientenportaal/regios/footer-fsb.png) 50% 50% no-repeat;
  }

  .responsible-disclosure,
  .privacyreglement {
    padding: 5px;

    a {
      color: #005FB3;
      text-decoration: none;
      font-size: 0.8125em;
      font-family: Arial, Verdana, Tahoma, sans-serif;
      padding: 2px 5px;
      display: inline-block;
      white-space: nowrap;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
    }

    a:visited {
      color: #005FB3;
    }

    a:hover {
      color: white;
      background-color: #005FB3;
      text-decoration: none;
    }
  }

  .privacyreglement {
    text-align: right;
  }

}
