@charset "utf-8";
table.cp-table {
  border-collapse: collapse;
  font-family: $fontFamily2;

  th {
    font-weight: normal;
    text-align: left;
    color: #808080;
  }

  td {
    vertical-align: top;
    border: 1px solid $primary-color;
    border-width: 1px 0;
  }

  th, td {
    padding: 5px;
  }
}

table.table-bordered {
  border-color: #c0c0c0;
  th, td {
    border-color: #c0c0c0;
  }
}