@charset "utf-8";
body.clientenportaal {
  font-size: 16px;
  font-family: $fontFamily2;

  &.font-large {
    font-size: 18px;
  }

  &.font-xlarge {
    font-size: 20px;
  }
}

div.control-group {
  label.control-label,
  div.controls {
    font-size: rs(13, $base-fs);
    line-height: rs(14, $base-fs);
  }

  label.control-label {
    line-height: rs(24, $base-fs);
  }
}

fieldset.hero-unit {
  font-size: rs($base-fs, $base-fs);
}

fieldset h3,
.huisarts-zoekresultaten h2,
.form-container h2,
.afspraak-titel,
fieldset.centrum-zoeken h3 {
  font-family: $fontFamily1;
  font-size: rs(18, $base-fs);
  line-height: rs(18, $base-fs);
  font-weight: normal;
}

.verplicht-legenda {
  font-size: rs(12, $base-fs);
  line-height: rs(14, $base-fs);
}

.widget-content p,
.form-horizontal p,
.form-container p,
.huisarts-zoek-instructie ul {
  font-family: $fontFamily2;
  font-size: rs(13, $base-fs);
  line-height: rs(20, $base-fs);
}

table.table-bordered,
table.cp-table {
  th, td {
    font-size: rs(13, $base-fs);
    line-height: rs(20, $base-fs);
    font-family: $fontFamily2;
  }
}

.ingelogged-als {
  font-family: $fontFamily1;
  label {
    font-size: rs(11);
  }
}

.topnav-title {
  font-size: rs(19);
  font-family: $fontFamily2;
  font-weight: 600;
  line-height: rs(29);

  .subtitle {
    font-size: rs(16, $base-fs);
    font-weight: normal;
    font-style: italic;
  }
}

.topnav .nav > li a {
  font-family: $fontFamily2;
  font-size: rs(16);
  line-height: rs(16);
  font-weight: normal;
  span {
    font-weight: bold;
  }
}

.widget h1 {
  font-size: rs(16, $base-fs);
  line-height: rs(16, $base-fs);
  font-weight: normal;
}

.breadcrumb {
  font-size: rs(12, $base-fs);
}

.pagination {
  font-size: rs(12, $base-fs);
}

.clientgegevens {

  h1 {
    font-size: rs(14, $base-fs);
    line-height: rs(14, 14);
  }

  h2 {
    font-size: rs(13, $base-fs);
    line-height: rs(13, 13);
  }

  p {
    font-size: rs(13, $base-fs);
    line-height: rs(20, $base-fs);
  }

  div.question {
    > label,
    div.answer {
      font-size: rs(13, $base-fs);
      line-height: rs(14, 13);
    }

    div.answer {
      font-weight: bold;
    }
  }
}

.welkoms-bericht {
  h2 {
    font-family: $fontFamily1;
    font-weight: normal;
    font-size: rs(16, $base-fs);
    line-height: rs(16, $base-fs);
  }

  .welkomstekst {
    font-size: rs(13, $base-fs);
    font-family: $fontFamily2;
  }
}

.column-widgets-big {
  h2 {
    font-family: $fontFamily1;
    font-weight: normal;
    font-size: rs(16, $base-fs);
    line-height: rs(16, $base-fs);
  }

  .algemene-informatie {
    font-size: rs(13, $base-fs);
    font-family: $fontFamily2;
  }
}

address {
  font-style: normal;
}

.huisarts-naam,
.huisarts-praktijk,
.adresgegevens address {
  font-size: rs(13, $base-fs);
  line-height: rs(20, $base-fs);
}

.huisarts-naam {
  font-weight: bold;
}

.afspraak-gegevens {
  .afspraak-titel {
    font-size: rs(14, $base-fs);
  }

  .coloscopie-centrum,
  address {
    font-size: rs(13, $base-fs);
    font-family: $fontFamily2;
  }
}


.huisarts-geen-zoekresultaten {
  font-size: rs(13, $base-fs);
}

.huisart-zoekresultaten .zoekresultaten .naam {
  font-weight: bold;
}
