.footer {
  background: $blue;
  min-height: 132px;
  display: block;
  z-index: -20;
  position: absolute;
  width: 100vw;
  bottom: 0;

  @include respond-below(sm) {
    padding: 15px 0 0;
    height: auto;
    width: 100%;
    display: inline-block;
  }

  &--links {
    list-style-type: none;
    display: block;
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 50px 0 0;

    @include respond-below(md) {
      padding: 26px 0 0;
    }

    @include respond-below(sm) {
      padding: 6px 0;
    }

    &__items {
      float: left;
      margin: 0 100px 0 0;

      @include respond-between(sm, lg) {
        margin: 0 50px 0 0;
      }

      @include respond-below(md) {
        margin: 0;
        float: none;
      }

      a {
        color: white;
        font-size: calc-em(24);
        line-height: 1.3;

        @include respond-between(sm, lg) {
          line-height: 1.75;
        }


        @include respond-below(sm) {
          line-height: 2;
        }

        &:after {
          content: "";
          @include bg-image-url(url(/images/svg/arrow-white.svg));
          @include size(20px, 14px);
          float: right;
          position: relative;
          top: 10px;
          margin-left: 12px;

          @include respond-below(sm) {
            top: 19px;
          }
        }
      }
    }
  }

  &--blob {
    float: right;
    @include size(520px, 430px);
    position: relative;
    bottom: 430px;
    margin-bottom: -520px;
    @include bg-image-url(url(/images/svg/footer-blob.svg));
    padding: 161px 76px 0;
    position: relative;
    left: 10px;

    &--body {
      &__title {
        width: fit-content;
        font-size: calc-em(30);
        font-weight: 500;
        color: $blue;
        margin: 20px 40px 0;
      }

      &--list {
        list-style-type: none;
        line-height: 1.5;

        &__item {
          margin: 6px 0;

          &:before {
            content: "\f105" !important;
            font-family: FontAwesome;
            font-size: calc-em(24);
            margin-right: 12px;
            color: $blue;
          }
        }
      }
    }

    @include respond-between(sm, lg) {
      right: -192px;
    }

    @include respond-below(sm) {
      padding: 0;
      width: 106%;
      background-position: top 10px left 0;
      background-color: white;
      height: 229px;
      bottom: 0;
      margin: 0;
      z-index: 0;
    }
  }

  .footer-disclaimer {
    height: 70px;
    background: $disclaimer;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    margin: 50px auto 0;
    padding: 20px 0;

    a {
      color: white;
      font-size: calc-em(16);
      text-align: center;
      display: block;
    }
  }
}
