.proces-title {
  color: $black;
  font-size: calc-em(40);
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 68px;

  @include respond-below(sm) {
    margin-bottom: 20px;
  }
}

.gradient {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(35%, rgba(255, 255, 255, 0)), color-stop(70%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  width: calc(100% + 40px);
  margin-left: -20px;
  height: 241px;
  position: fixed;
}

.proces {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;

  @include respond-below(sm) {
    margin-bottom: 40px;
    overflow: scroll;
    width: auto;
    position: relative;
    justify-content: left;
  }


  .proces ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .proces ::-webkit-scrollbar:vertical {
    width: 11px;
  }

  .frame::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  .proces ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
  }


  &--item {
    display: inline-grid;
    padding: 4px;
    width: 168px;

    &--icn {
      @include square(130px);
      border-radius: 50%;
      margin: 0 auto 14px;


      &__img {
        @include square(55px);
        margin: 26% 30%;
      }
    }

    &--stap {
      color: $bk;
      font-size: calc-em(14);
      font-weight: 500;
      line-height: 1.8;
      text-align: center;
      margin-bottom: 14px
    }

    &--title {
      font-size: calc-em(20);
      line-height: 1.3;
      text-align: center;
    }
  }

  &--arrow {
    @include bg-image-url(url(/images/svg/stap-arrow.svg));
    @include size(44px, 20px);
    margin: 0 8px;
    position: relative;
    top: 62px;
    background-size: contain;
  }
}


.borstkanker {
  .proces--item--icn {
    background: $bk;
  }

  .count {
    color: $bk;
  }

  .proces--item--stap {
    color: $bk;
  }
}

.baarmoederhalskanker {
  .proces--item--icn {
    background: $bmk;
  }

  .count {
    color: $bmk;
  }

  .proces--item--stap {
    color: $bmk;
  }
}

.darmkanker {
  .proces--item--icn {
    background: $dk;
  }

  .count {
    color: $dk;
  }

  .proces--item--stap {
    color: $dk;
  }
}

.count {
  cursor: pointer;
  width: 26px;
  height: 26px;
  background: white;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  padding: 3px;
  border: 2.5px solid #d9dbdb;
  position: relative;
  bottom: 3px;
  left: 5px;
  color: $blue;
  display: block;
}

.popover-content {
  padding: 9px;
  width: 120px;
  font-family: $sans;
  color: $black;
  font-size: calc-em(16);
  text-align: center;
  line-height: 1.6;
}
