
$wit-base: white;

$blauw-300: #7EA1D5;
$blauw-400: #577094;
$blauw-base: #006DAB;
$blauw-500: $blauw-base;
$blauw-700: #005584;

$paars-500: #9165B3;
$paars-base: #5C3A76;
$baars-700: $paars-base;
$paars-900: #3B254B;

$grijs-base: #F3F6F9;
$grijs-500: $grijs-base;
$grijs-600: #e3eaf1;
$grijs-700: #DADCDF;
$grijs-800: #C2C4C7;
$grijs-900: #797A7C;

$zwart: #231F20;

$rood-300: #FFBABA;
$rood-500: #E32942;
$rood-600: #D90611;
$rood-700: #9F1A2F;
$rood-base: $rood-500;

$groen-500: #ACAA00;
$groen-base: $groen-500;
$groen-700: #787700;

$oranje-500: #F6A547;
$oranje-base: $oranje-500;
$oranje-600: #d68d09;
$oranje-700: #AC7332;

$turquoise-500: #8FCDC2;
$turquoise-base: $turquoise-500;
$turquoise-700: #638F87;

$roze-300: #E37DAE;
$roze-500: #CD2C7A;
$roze-base: $roze-500;
$roze-700: #7A1A47;
