@charset "utf-8";
.barcode-controle {
  padding: 5px;
}

.filter-overzicht-batches {

  .control-group {
    display: inline-block;
    vertical-align: middle;
  }

  .datum-van {
    margin-right: 20px;
  }

  .control-label {
    width: 80px;
  }
  .controls {
    margin-left: 90px;
  }
}
