@import "../../styling/scss/colors";

.style {

	.tableContainer {
		overflow-x: scroll;
		overflow-y: hidden;
	}

	.historyOverzicht {
		padding: 1rem 0.5rem 0 0.5rem;
	}

	.table {
		display: flex;
		flex-direction: column;
		max-width: 215px;
		.tr {
			display: flex;
			justify-content: space-between;

		}
	}

}