@import "src/scss/media-mixins";

.formContent {
	padding-left: 10px;
	padding-right: 10px;

	.inputColumn {
		padding-left: 5px;
		padding-right: 5px;

		&.huisnummer {
			min-width: 140px;

			@include respond-below(xs) {
				min-width: 115px;
			}
		}

		&.huisletter {
			min-width: 80px;

			@include respond-below(xs) {
				min-width: 70px;
			}
		}

		&.huisnummerToevoeging, &.huisnummerAanduiding {
			min-width: 120px;

			@include respond-below(xs) {
				min-width: 105px;
			}
		}

		&.postcode {
			min-width: 120px;

			@include respond-below(xs) {
				min-width: 105px;
			}
		}

		&.plaats {
			min-width: 175px;

			@include respond-below(xs) {
				min-width: 150px;
			}
		}

		&.datum {
			min-width: 200px;

			@include respond-below(xs) {
				min-width: 175px;
			}
		}
	}

}
