@import "src/scss/colors";
@import "src/scss/media-mixins";
@import "src/scss/mixins";

.form {
  background-color: transparent;
  padding: 0;
}

.bezwaarBlok {
	width: 100%;
	border-radius: 0.625rem;
	background-color: $wit-base;
	box-shadow: 0 0.625rem 1.25rem -0.625rem rgba(0, 0, 0, 0.25);
	padding: 1.875rem;
	margin-bottom: 0.938rem;
	font-size: 0.875rem;

	@include respond-below(xs) {
		padding: 0.6rem;
	}

	.checkBox {
		position: relative;
		display: flex;
		margin-left: -10px;
	}

	.checkBox, .overigTitle {
		font-weight: bold;
	}

	.label {
		@include center-in-div-vertically(50%);
		vertical-align: middle;
		line-height: 1rem;
		margin-left: 40px;
		margin-bottom: 0;
	}
}

.informatie {
	width: 100%;
	font-size: 0.875rem;
	letter-spacing: 0;
	line-height: 1.375rem;
	padding-left: 2.6rem;
	padding-right: 0.625rem;

	@include respond-below(xs) {
		margin-top: 5px;
		padding-left: 1.85rem;
	}

	.abstract {
		color: $zwart;
		margin-bottom: 0.625rem;
	}

	.meer {
		color: $zwart;
		display: none;
	}

	.meerTekst {
		font-size: 0.875rem;
	}

	.overigTitle {
		vertical-align: middle;
		line-height: 1rem;
		padding-bottom: 0.125rem;
		margin-left: 0;
	}

	.toonVerbergInformatie {
		color: $blauw-base;
	}

	div:nth-child(2) {
		margin-top: 1.25rem;
	}
}


.arrow {
  padding-left: 0.625rem;
}


