:root {
    --daglijst-margins: 30px;
    --daglijst-blokken-rechts: 260px;
    --footer-height: 5%;
    --header-height: 31px;
    --vorig-onderzoek-ruimte-erboven: 8px;
    --original-scale-factor: calc(730 / 1084);
    --donker-paars: #54026e;
    --middel-paars: #9576C0;
    --licht-paars: #D8C1FB;
    --tabel-hover-paars: rgba(90, 51, 125, 0.2);
}

.login-spinner {
    color: var(--middel-paars);
    width: 4em;
    height: 4em;
    margin-left: -2em;
    margin-top: -2em;
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 2000;
    font-size: 2em;
    display: block;
}

.login-spinner-disabled {
    display: none;
}

.laad-block-grijs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1999;
}

.geen-verbinding {
    margin-top: 32px;
    height: 46px;
    position: absolute;
    right: 28%;
    pointer-events: none;
    z-index: 10;
}

.offline-knop {
    position: absolute;
    right: 0;
    top: 38px;
    padding: 0;
    margin: 0;
    opacity: 0.8;
}

.offline-knop .btn {
    cursor: pointer;
}

.btn-donker {
    background-color: var(--middel-paars);
    color: white;
}

.btn-donker:hover {
    background-color: var(--donker-paars);
    cursor: pointer;
    color: white;
}

.adhocKeuzeRow {
    border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
    padding-top: 2px;
    padding-bottom: 2px;
}

.adhocKeuzeRow:hover {
    background-color: var(--donker-paars);
    color: white;
    cursor: pointer;
}

.geselecteerde-adhoc-reden {
    padding: 10px;
    color: var(--donker-paars);
    font-size: 1.5em;
}

.geselecteerde-adhoc-reden-header {
    padding-top: 10px;
}

.popupRow {
    margin: 0;
}

#daglijst-refresh {
    color: var(--middel-paars);
}

#daglijst-refresh:hover {
    cursor: pointer;
}

.active {
    color: black !important;
}

.afspraaklijst {
    float: left;
    width: calc(100% - var(--daglijst-blokken-rechts) - 3 * var(--daglijst-margins));
    margin-left: var(--daglijst-margins);
    height: calc(95% - var(--footer-height) - var(--header-height));
    margin-bottom: 2%;
}

.daglijst-blokken-rechts .dagverslag-paneel {
    margin-top: 36px;
}

.dagverslag-lijst {
    margin-left: var(--daglijst-margins);
}

.dagverslag-header {
    font-size: 1.5em;
    background-color: var(--middel-paars);
    color: white;
}

.afspraakstatus-ingeschreven {
    background-color: #FEFFB6;
}

.afspraakstatus-onderzoek {
    background-color: #C8E9F8;
}

.afspraakstatus-signaleren {
    background-color: var(--licht-paars);
}

.afspraakstatus-verwacht {
}

.onderzoeksstatus-afgerond {
    background-color: #D6F3CA;
}

.onderzoeksstatus-onvolledig {
    background-color: #FCC7C7;
}

.onderzoeksstatus-onderbroken {
    background-color: #FEDEB8;
}

.app {
    margin-bottom: 40px;
}

.clickable {
    cursor: pointer;
}

.onderzoek-heading {
    width: 100%;
    margin-top: 10px;
}

.icoontext {
    position: absolute;
    background: transparent;
    color: #fffcf3;
    border: none;
    text-shadow: 1px 1px black;
    text-align: center;
    cursor: text;
}

.no-select {
    cursor: default;
}

.onderzoek-scherm .onderzoek-heading h1 {
    color: var(--donker-paars);
}

h5 {
    color: var(--donker-paars);
}

.container {
    float: left;
}

.daglijst {
    margin-top: var(--daglijst-margins);
}

.daglijst-blokken-rechts {
    width: var(--daglijst-blokken-rechts);
    float: right;
}

.daglijst-capaciteit {
    width: var(--daglijst-blokken-rechts);
    border-radius: 3px;
    margin-top: 20px;
    background-color: #EBEBEB;
    text-align: left;
    padding: 5px;
}

.dropdown-item:hover {
    background-color: var(--tabel-hover-paars);
}

.dropdown-toggle {
    background-color: white;
    color: #552B76;
}

.react-datepicker-popper {
    left: -40px !important;
}

.react-datepicker-wrapper {
    padding: 1px;
}

.datumkiezer-container {
    max-width: var(--daglijst-blokken-rechts);
}

.datumkiezer-div {
    max-width: var(--daglijst-blokken-rechts);
    border-radius: 3px;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #EBEBEB;
    padding: 1px;
    background-color: #EBEBEB;
}

.adres-datumkiezer {
    border: 1px solid #ced4da;
    background-color: #EBEBEB;
    border-radius: 3px;
    padding-left: 0 !important;
    margin-left: 5px;
    padding-right: 10px !important;
}

.adres-datumkiezer .form-row {
    padding: 0;
    margin: 0 !important;
}

.adres-datumkiezer .form-row .col-md-10 {
    padding: 0;
}

.adres-datumkiezer > div {
    margin-top: 1px;
    margin-left: 1px;
}

.adres-datumkiezer div i {
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
}

.adres-datumkiezer div div div div div input {
    padding: 2px;
    text-align: center;
}

#clear-adres-datumkiezer {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: -3px;
    color: rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#clear-adres-datumkiezer i {
    font-size: 0.9em;
}

#clear-adres-datumkiezer:hover {
    color: black;
}

#clear-adres-datumkiezer-hidden {
    display: none;
}

.datumkiezer-icon i {
    color: black;
    display: block;
    text-align: center;
}

.datumkiezer-icon {
    padding: 0;
}

.datumkiezer-view {
    border: 0;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
}

.error-onderzoekscherm {
    color: white;
    background-color: #E74C3C;
    border-radius: .1rem;
    padding: .2rem;
}

.tot-met-paragraaf {
    margin-top: 8px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
}

.footer-omgeving {
    font-size: smaller;
}

.footer-right {
    float: right;
}

.footer-versie {
    font-size: xx-small;
}

.gray-link {
    color: gray;
}

.icon-spacing {
    padding-left: 5%;
}

.identificatie-soort {
    margin-right: 12px;
    border-color: #D8D8D8;
}

.inschrijven-scherm .identificatie-soort-column {
    padding-right: 5px;
}

.label-input-row {
    margin-bottom: 5%;
}

.nav-item {
    color: white;
    cursor: default;
}

.fa .tooltiptext {
    display: none;
}

.fa:hover .tooltiptext {
    display: block;
    position: absolute;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    padding: 5px;
    width: 15%;
    margin-top: 8px;
    z-index: 1000;
}

.not-clickable {
    color: #CCCCCC !important;
}

.not-clickable:hover {
    border-color: var(--middel-paars) !important;
}

.nav-link {
    color: inherit;
    margin-left: 6px;
    background-color: var(--middel-paars);
    padding-bottom: 2px;
    padding-top: 2px;
}

.nav-link:hover {
    color: inherit;
}

.paneel {
    color: #666666;
    border-style: solid;
    border-width: 1px;
    border-color: #D8D8D8;
    padding: 10px;
    width: 100%;
    margin-top: 8px;
    border-radius: 10px;
}

.paneelnaam {
    font-size: large;
}

.paspoort {
    background-color: #EEEEEE;
    color: #666666;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #D8D8D8;
    padding: 10px;
    width: 100%;
}

.paspoort-clientnaam {
    font-size: large;
    font-weight: bold;
}

.se-dropdown {
    text-overflow: ellipsis;
    width: inherit;
}

.se-dropdown > button {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
    padding-right: 10%;
}

.se-dropdown > button:active, .se-dropdown > button:hover, .se-dropdown > .btn-secondary.dropdown-toggle, button.dropdown-item:active {
    color: black !important;
}

.se-dropdown > .dropdown-toggle::after {
    left: 85%;
    position: absolute;
    bottom: 17px;
}

.se-value {
    font-weight: bold;
}

.row {
    width: 100%;
}

.table td {
    padding: 5px;
    border-color: #EBEBEB;
}

.table th {
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 3px;
    border-color: #E5E5E5;
}

.table-duo tbody tr td {
    width: 50%;
}

.btn-link.white-link-button {
    color: white;
    padding: 0;
    pointer-events: all;
}

.white-link-button:hover {
    color: white;
    padding: 0;
}

.btn-primary-se, .btn-primary-se:hover, .btn-primary-se:active, .btn-primary-se:visited, .btn-primary-se:focus, .btn-opslaan-se, .btn-opslaan-se:hover, .btn-opslaan-se:visited, .btn-opslaan-se:active {
    background-color: #97A12E;
    color: white;
    border-color: #D8D8D8;
    border-radius: 6px;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}

.btn-primary-se.disabled, .btn-primary-se:disabled {
    background-color: gray;
    border-color: #D8D8D8;
    cursor: not-allowed;
}

.row-dagverslag-top {
    margin-top: var(--daglijst-margins);
    margin-left: var(--daglijst-margins)/2.0;
}

.row-dagverslag-top div button {
    margin-bottom: 10px;
}

.dagverslag-paneel {
    padding: 0;
    margin: 0;
    border: none;
}

.dagverslag-paneel h6 {
    color: black;
}

.dagverslag-paneel div table tbody {
    color: black;
}

.dagverslag-datumkiezer {
    margin-left: 30px;
}

.row-no-gutters {
    margin: 0;
    padding: 0;
}

.col-no-gutters-left {
    margin-left: 0;
    padding-left: 0;
}

.col-no-gutters-right {
    margin-right: 0;
    padding-right: 0;
}

button {
    background-color: #97A12E;
    color: white;
    border-radius: 6px;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}

.btn-secondary-se {
    background-color: #808080;
}

.error {
    border-color: #E74C3C;
}

form.login {
    margin-top: 100px;
}

h1 {
    padding-top: 15px;
    color: #7C5796;
    font-size: x-large;
    font-weight: bold;
}

i.fa {
    font-size: large;
}

img.screenit-appnaam {
    width: 100px;
    height: 15px;
}

input:not([type=checkbox]):not([type=radio]) {
    horiz-align: right;
    width: 100%;
}

label {
    display: block;
    text-align: left;
}

thead {
    background-color: #EEEEEE;
}

.visuele-inspectie-row {
    margin-top: 8px;
}

.onderzoek-row {
    margin-bottom: 2%;
}

.visuele-inspectie-afbeelding-container {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 1%;
}

.visuele-inspectie-afbeelding-palet {
    margin-top: 0;
    padding: 0;
    border: none;
}

.visuele-inspectie-afbeelding {
    margin-bottom: 0;
    padding: 0;
}

.visuele-inspectie-afbeelding img {
    width: 100%;
}

.visuele-inspectie-icoon {
    cursor: pointer;
    cursor: grab;
    position: absolute;
}

.mbb-signalering-row {
    margin-top: 5%;
}

.mbb-signalering-row #Popover-btn {
    width: 100%;
    background-color: var(--middel-paars);
    color: white;
    border: none;
}

.mbb-signalering-row #Popover-btn:hover {
    background-color: var(--donker-paars);
}

.mbb-signalering-row #Popover-btn[class*="disabled"] {
    background-color: var(--licht-paars);
}

.mbb-signalering-text-area-input {
    margin-top: 2%;
}

.signaleren-afwijkingen-container {
    margin-left: 24%;
    margin-right: 24%;
    width: 100%;
}

.modal-header {
    background-color: var(--middel-paars);
}

.modal-header .modal-title {
    color: #fff;
}

.modal-footer {
    display: block;
}

.success-color {
    background-color: #97A12E;
}

.danger-color {
    background-color: #dc3545;
}

.onderzoek-component {
    color: white;
    background-color: #a290bd;
}


.page-item.active .page-link {
    z-index: 1 !important;
}

.huisarts-table .react-bootstrap-table {
    min-height: 410px;
}

.huisarts-table .pagination.react-bootstrap-table-page-btns-ul {
    position: absolute;
    right: 20px;
}

.react-bootstrap-table-page-btns-ul .page-item.active {
    background-color: var(--middel-paars);
}

.react-bootstrap-table-page-btns-ul .page-item, .react-bootstrap-table-page-btns-ul .page-link {
    color: var(--middel-paars);
}

.react-bootstrap-table-page-btns-ul .page-item.active .page-link {
    background-color: var(--middel-paars);
    border-color: var(--middel-paars);
}

.react-bootstrap-table-pagination {
    margin: 20px 20px;
}

.select-container-lavendel div div {
    color: black;
    background-color: lavender;
}

.select-container-lavendel div:nth-child(3) div div:hover {
    color: var(--donker-paars);
    background-color: var(--licht-paars);
    cursor: pointer;
}

.multiselect-container div div div div {
    background-color: var(--licht-paars);
}

.non-selectable {
    user-select: none;
}

table tbody tr:hover {
    background-color: lavender !important;
}

.w-20 {
    width: 20%;
}


.app-header {
    background-color: #5F337F;
    padding: 8px;
    padding-left: 30px;
    color: white;
    font-style: italic;
    font-size: large;
    font-kerning: normal;
}

.do-not-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gebruiker-view {
    font-weight: bold;
    font-size: small;
    font-style: normal;
}

.nav-tabs {
    padding-top: 15px;
    padding-left: 40px;
    background-color: var(--licht-paars);
}

.buitenste-view {
    height: 100%;
    width: 100%;
}

.onderzoek-scherm {
    position: absolute;
    height: calc(95% - var(--footer-height) - var(--header-height));
    width: 100%;
    overflow: auto;
    background-color: #a290bd
}

.vorige-onderzoeken {
    padding-bottom: 2%;
}

.inschrijven-scherm {
    position: absolute;
    height: calc(93% - var(--footer-height) - var(--header-height));
    width: 100%;
    overflow: auto;
}

.tabpagina {
    margin-left: 75px;
    margin-right: 75px;
}

.vorig-onderzoek {
    border-radius: 5px;
    width: 100%;
}

.vorig-onderzoek-dichtgeklapt {
    margin-top: var(--vorig-onderzoek-ruimte-erboven);
}

.vorig-onderzoek-opengeklapt {
    background-color: #EEEEEE;
    margin-top: var(--vorig-onderzoek-ruimte-erboven);
}

.vorig-onderzoek-header {
    background-color: #5A337D;
    color: white;
}

.vorig-onderzoek-lezing-blok {
    background-color: #9781B3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.connectiestatus {
    margin: 20px 40px;
}

.connectiestatus-header .col {
    margin-bottom: auto;
    margin-top: auto;
}

.connectiestatus-header .fa-refresh {
    font-size: 20px;
    color: #7C5796;
}

.connectiestatus-statusbar {
    margin-top: 20px;
    margin-bottom: 30px;
    height: 40px;
    color: white;
    border-radius: 4px;
}

.connectiestatus-statusbar.ok {
    background-color: #64a338;
}

.connectiestatus-statusbar.fault {
    background-color: #e03b24;
}

.connectiestatus-statusbar.warn {
    background-color: #ffcc00;
}

.connectiestatus-statusbar p {
    margin: auto 5px;
}

.connectiestatus-statusbar.warn p {
    color: black;
}

.connectiestatus-item {
    margin-bottom: 50px;
}

.connectiestatus-item h1 {
    padding-top: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    font-size: 20px;
}

.connectiestatus-item p {
    font-size: 18px;
}

.connectiestatus-item u {
    color: blue;
    cursor: pointer;
}

.connectiestatus-item .connectiestatus-subitem:first-child {
    margin-top: 15px;
}

.connectiestatus-item .fa {
    font-size: 35px;
}

.connectiestatus-item .fa-check-circle {
    color: #64a338;
}

.connectiestatus-item .fa-exclamation-circle {
    color: #e03b24;
}

.connectiestatus-item .fa-exclamation-triangle {
    color: #ffcc00;
    font-size: 30px;
}

.connectiestatus-subitem, .connectiestatus-item-data {
    margin-left: 30px;
}

.connectiestatus-subitem {
    margin-top: 15px;
}

.connectiestatus-subitem h1 {
    font-size: 18px;
}

.connectiestatus-subitem .fa-check-circle {
    font-size: 30px;
}

.connectiestatus-leaf {
    margin-left: 15px;
}

.connectiestatus-leaf .fa {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.connectiestatus-leaf .fa-exclamation-triangle {
    font-size: 17px;
}

.connectiestatus-leaf p {
    display: inline-block;
    margin: 0 0 0 5px;
}

.connectiestatus-mammograaf-item p {
    margin: 0;
}

p.mammograafDicomMessageErrorText {

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--licht-paars);
    padding-right: 120px;
}

.background-red {
    background-color: #a94747;
}

.border-gray {
    border-color: #CCCCCC !important;
}

.aanzicht-afbeelding {
    width: 100%;
}

.margin-right-correction {
    margin-right: 3.5%;
}

.padding-right-correction {
    padding-right: 8%;
}

.margin-left-correction {
    margin-left: 3.5%;
}

.padding-left-correction {
    padding-left: 8%;
}

.full-width {
    width: 100%;
}

.no-borders {
    border: none;
}

.table > tbody > tr:hover {
    background-color: var(--tabel-hover-paars) !important;
}

.gutters {
    margin-top: 8px;
    padding: 10px;
}

.text-shadow {
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    color: white;
}

.Toastify {
    white-space: pre-line;
}

