<?xml version="1.0" encoding="UTF-8"?>
<!--
  ========================LICENSE_START=================================
  screenit-batch-alg
  %%
  Copyright (C) 2012 - 2020 Facilitaire Samenwerking Bevolkingsonderzoek
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  =========================LICENSE_END==================================
  -->


<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd">

    <jee:jndi-lookup id="gbaFtpHost" jndi-name="gba/ftphost"/>
    <jee:jndi-lookup id="gbaFtpPort" jndi-name="gba/ftpport"/>
    <jee:jndi-lookup id="gbaFtpUsername" jndi-name="gba/ftpusername"/>
    <jee:jndi-lookup id="gbaFtpPassword" jndi-name="gba/ftppassword"/>

    <jee:jndi-lookup id="gbaFtpKnownHostFile" jndi-name="gba/ftpknownhostfile"/>
    <jee:jndi-lookup id="gbaDownloadFolder" jndi-name="gba/downloadfolder"/>
    <jee:jndi-lookup id="gbaUploadFolder" jndi-name="gba/uploadfolder"/>
    <jee:jndi-lookup id="voFileStorePath" jndi-name="gba/voFileStorePath"/>
    <jee:jndi-lookup id="sftpConnectionTimeout" jndi-name="gba/sftpConnectionTimeout"/>
    <jee:jndi-lookup id="tryInterval" jndi-name="gba/tryInterval" default-value="#{new Long(60000)}" expected-type="java.lang.Long"/>
    <jee:jndi-lookup id="maxNoTries" jndi-name="gba/maxNoTries" default-value="#{new Integer(5)}" expected-type="java.lang.Integer"/>

    <jee:jndi-lookup id="coordinatenLocation" jndi-name="coordinatenLocation"/>

</beans>
