.organisatie-span {
	font-style: italic;
	color: grey;
}

.control-group .template-datepicker {
	margin-left: 185px;
}

.control-group .template-document-fragment-text {
	margin-left: 345px;
}

.control-group .template-document-fragment-boolean {
	margin-left: 334px;
}

.control-group .template-document-fragment {
	margin-left: 165px;
}

.row-fluid .client-vervolg-acties {
	margin-left: 0;
}