.modal-client-document-popup {
  display: block;
  aria-hidden: false;
}

.control-group-client {
  white-space: normal;
  word-wrap: break-word;
  width: 94%;
}

.uitklap-knop {
  float: left;
  cursor: pointer;
  padding: 6px 0;
}
