.blob-1 {
  height: 514px;

  @include respond-above(sm) {
    position: relative;
    top: 74px;
  }

  @include respond-below(sm) {
    height: auto;
    width: 100%;
  }

  @include respond-between(sm, md) {
    position: relative;
    top: 0;
    height: 271px;
  }


  @include respond-between(md, lg) {
    position: relative;
    top: 84px;
    height: 338px;
  }
}

.blob-header-borst {
  height: 641px;
  position: absolute;
  right: -253px;
  top: 84px;
  z-index: -1;

  @include respond-below(sm) {
    height: 185px;
    top: -80px;
    right: 0;
  }

  @include respond-between(sm, md) {
    height: 314px;
    top: -79px;
    right: -26px;
  }

  @include respond-between(md, lg) {
    height: 382px;
    top: 84px;
    right: 0;
  }
}

.blob-header-baarmoederhals {
  height: 590px;
  position: absolute;
  left: 674px;
  top: 84px;
  z-index: -1;

  @include respond-below(sm) {
    height: 193px;
    top: -84px;
    right: 0;
    left: 91px;
  }

  @include respond-between(md, lg) {
    height: 476px;
    top: 84px;
    left: 278px;
  }

  @include respond-between(sm, md) {
    height: 346px;
    top: -84px;
    left: 154px;
  }
}

.blob-header-darm {
  height: 590px;
  position: absolute;
  left: 648px;
  top: 79px;
  z-index: -1;

  @media screen and (max-width: 1441px) and (max-height: 900px) {
    height: 476px;
    top: 84px;
    left: 400px;
  }

  @include respond-below(sm) {
    height: 162px;
    top: -82px;
    left: 69px;
    margin: 0 0 51px;
  }

  @include respond-between(md, lg) {
    height: 476px;
    top: 84px;
    left: 278px;
  }

  @include respond-between(sm, md) {
    height: 300px;
    top: -84px;
    left: 300px;
  }
}

.blob-header-prof {
  height: 590px;
  position: absolute;
  left: 648px;
  top: 79px;
  z-index: -1;

  @include respond-below(sm) {
    height: 300px;
    top: -150px;
  }

  @include respond-between(md, lg) {
    height: 476px;
    top: 0;
    left: 278px;
  }

  @include respond-between(sm, md) {
    height: 300px;
    top: -30px;
    left: 300px;
  }
}

.blob-header-detail {
  height: 400px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;

  @include respond-below(sm) {
    height: 234px;
    position: relative;
    left: 24px;
    margin: 0 0 -170px;
  }

  @include respond-between(sm, md) {
    top: -30px;
    left: 174px;
    position: relative;
    margin: 0 0 -210px;
  }

  @include respond-between(md, lg) {
    right: -200px;


  }
}

.blob-header-detail-img {
  height: 400px;
  width: auto;
}


.blob-2-img {
  height: 514px;
  width: auto;
}

.blob-header-borst-img {
  height: 642px;
  width: auto;
}

.blob-header-baarmoederhals-img {
  height: 590px;
  width: auto;
}

.blob-header-darm-img {
  height: 590px;
  width: auto;
}

.blob-header-prof-img {
  height: 758px;
  width: auto;
}

.blob-2 {
  height: 677px;
}

.blob-2-img {
  height: 677px;
  width: auto;
}

