@charset "utf-8";
$primary-be-color: #60347F;
$primary-be-background-color: #a290bd;
$secondary-be-background-color: #7B42A4;
$inactive-be-background-color: #9781B3;
$primary-be-text-color: #e5e5e5;
$secondary-be-light-background-color: #D7C0FC;
