.span6.mamma-ce-geen-beoordeling-page {
	width: 100%;
	height: inherit;
}

.hero-unit.hero-unit-height-padding {
	padding-bottom: 45px;
	height: 100%;
}

div.hero-unit.huisartsInfo {
	padding-bottom: 45px;
}

.span6.verslagPdf {
	width: 100%;
	height: inherit;
}

.span12.pdfContainer {
	height: calc(100vh - 225px);
	width: 100%;
}