@import "src/scss/media-mixins";

.huisartsDiv {
	position: relative;

	.verticalRectangle {
		position: absolute;
		top: 10px;
	}

	.huisartsGegevens {
		margin-left: 15px;

		@include respond-below(xs) {
			margin-left: 5px;
		}

		span {
			display: block;
		}

		span:nth-child(1) {
			font-size: 0.75rem;
		}

		span:nth-child(2) {
			font-size: 1rem;
			font-weight: 500;
		}

		@include respond-below(xs) {
			.locatieColumn {
				margin-top: 10px;
			}
		}
	}
}

.buttons {
	margin-top: 50px;

	@include respond-below(xs) {
		margin-top: 30px;
	}

	button, a {
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
}

