@charset "utf-8";
@import "shared/plugins/reset";
@import "shared/plugins/grid";
@import "shared/globals/mixins";
@import "beheer/globals/base";
@import "beheer/globals/layout";
@import "beheer/components/popover";
@import "beheer/components/buttons";
@import "beheer/components/icons";
@import "beheer/components/alert";
@import "beheer/components/forms";
@import "beheer/components/dropdown_menu";
@import "beheer/components/dialog";
@import "beheer/components/tooltip";
@import "beheer/components/badge";
@import "beheer/components/tables";
@import "shared/components/icons";
@import "beheer/components/loader";
@import "beheer/components/accordion";
@import "shared/components/forms";
@import "shared/components/formcomponent";
@import "beheer/components/pagination";
@import "beheer/plugins/calendar";
@import "beheer/globals/responsive";
@import "beheer/sections/inlog_medewerker";
@import "beheer/sections/portaal";
@import "beheer/sections/topbar";
@import "beheer/sections/layout";
@import "beheer/sections/logging";
@import "beheer/sections/schedule";
@import "beheer/sections/rooster";
@import "beheer/sections/afspraken";
@import "beheer/sections/capaciteitskalender";
@import "beheer/sections/contacten";
@import "beheer/sections/client";
@import "beheer/sections/werklijst";
@import "beheer/sections/gebieden";
@import "beheer/sections/uitnodigingen_versturen";
@import "beheer/sections/locaties";
@import "beheer/sections/page_expired";
@import "beheer/sections/huisarts";
@import "beheer/sections/dashboard";
@import "beheer/sections/retourzendingen";
@import "beheer/sections/kwaliteitscontrole";
@import "beheer/sections/documenttemplates";
@import "beheer/sections/ontvangstmonster";
@import "beheer/sections/labformulier";
@import "shared/sections/tijdelijkadres";
@import "shared/sections/huisarts";
@import "beheer/sections/organisatiemedewerkers";
@import "beheer/sections/ce";
@import "mamma/mamma_beoordeling";
