@charset "utf-8";
@import "shared/globals/mixins";
@import "shared/globals/functions";
@import "beheer/globals/base";
@import "clientenportaal/globals/base";
@import "shared/plugins/grid";
@import "clientenportaal/plugins/reset";
@import "clientenportaal/components/breadcrumb";
@import "clientenportaal/components/popover";
@import "clientenportaal/components/alerts";
@import "clientenportaal/components/animations";
@import "clientenportaal/components/wizard";
@import "clientenportaal/components/tables";
@import "clientenportaal/components/pagination";
@import "clientenportaal/components/modals";
@import "clientenportaal/components/buttons";
@import "shared/components/formcomponent";
@import "shared/components/forms";
@import "clientenportaal/components/icons";
@import "clientenportaal/sections/base";
@import "clientenportaal/sections/layout";
@import "clientenportaal/sections/typography";
@import "clientenportaal/sections/widgets";
@import "shared/components/icons";
@import "clientenportaal/sections/topbar";
@import "clientenportaal/sections/digid-inlog";
@import "clientenportaal/sections/forms";
@import "clientenportaal/sections/dashboard";
@import "clientenportaal/sections/afspraakwijzigen";
@import "clientenportaal/sections/afmelden";
@import "clientenportaal/sections/bezwaar";
@import "clientenportaal/sections/antwoordformulier";
@import "clientenportaal/sections/opnieuw-aanmelden";
@import "clientenportaal/sections/huisarts";
@import "clientenportaal/sections/foutpagina";
@import "shared/sections/tijdelijkadres";
@import "shared/sections/huisarts";
@import "clientenportaal/sections/regios";

.prototype-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #AAAAAA;

  &:hover {
    cursor: pointer;
    background-color: gray;
  }

  .icon-cog {
    margin: 2px;
  }

}
