<!--
  ========================LICENSE_START=================================
  screenit-batch-bk
  %%
  Copyright (C) 2012 - 2020 Facilitaire Samenwerking Bevolkingsonderzoek
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  =========================LICENSE_END==================================
  -->
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/batch"
             xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
           http://www.springframework.org/schema/batch
           http://www.springframework.org/schema/batch/spring-batch-3.0.xsd">

    
    
    <beans:bean id="mammaBrievenPartitionHandler"
                class="org.springframework.batch.core.partition.support.TaskExecutorPartitionHandler">
        <beans:property name="taskExecutor" ref="taskExecutor"/>
        <beans:property name="step" ref="mammaBrievenGenereren"/>
        <beans:property name="gridSize" value="10"/>
    </beans:bean>
    <beans:bean id="mammaBrievenListener" class="nl.rivm.screenit.batch.jobs.mamma.brieven.client.MammaBriefListener"/>
    <beans:bean id="mammaBrievenPartitioner" class="nl.rivm.screenit.batch.jobs.mamma.brieven.client.genererenstep.MammaBrievenGenererenPartitioner"/>
    <beans:bean id="mammaBrievenReader" class="nl.rivm.screenit.batch.jobs.mamma.brieven.client.genererenstep.MammaBrievenGenererenReader"/>
    <beans:bean id="mammaBrievenWriter" class="nl.rivm.screenit.batch.jobs.mamma.brieven.client.genererenstep.MammaBrievenGenererenWriter"/>
    <beans:bean id="mammaBrievenProcessor" class="nl.rivm.screenit.batch.jobs.mamma.brieven.client.genererenstep.MammaBrievenGenererenProcessor"/>
    <beans:bean id="mammaBriefCleanupReader" class="nl.rivm.screenit.batch.jobs.mamma.brieven.client.cleanupstep.MammaBriefCleanupReader"/>
    <beans:bean id="mammaBriefCleanupWriter" class="nl.rivm.screenit.batch.jobs.mamma.brieven.client.cleanupstep.MammaBriefCleanupWriter"/>
    <beans:bean id="mammaBrievenControleReader" class="nl.rivm.screenit.batch.jobs.mamma.brieven.client.controle.MammaBrievenControleReader"/>
    <beans:bean id="mammaBrievenControleWriter" class="nl.rivm.screenit.batch.jobs.mamma.brieven.client.controle.MammaBrievenControleWriter"/>

    
    <job id="mamma_brieven">
        <step id="brievenCleanup" next="mamma.brieven.genereren.master">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaBriefCleanupReader"
                       writer="mammaBriefCleanupWriter" commit-interval="250">
                </chunk>
            </tasklet>
        </step>
        <step id="mamma.brieven.genereren.master" next="mammaBrievenControle">
            <partition partitioner="mammaBrievenPartitioner" handler="mammaBrievenPartitionHandler"
                       step="mammaBrievenGenereren"/>
        </step>
        <step id="mammaBrievenControle">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaBrievenControleReader"
                       writer="mammaBrievenControleWriter" commit-interval="250">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="mammaBrievenListener"/>
        </listeners>
    </job>

    <step id="mammaBrievenGenereren">
        <tasklet transaction-manager="transactionManager">
            <chunk reader="mammaBrievenReader"
                   processor="mammaBrievenProcessor"
                   writer="mammaBrievenWriter" commit-interval="50">
            </chunk>
        </tasklet>
    </step>

    
    <beans:bean id="mammaConceptModelListener" class="nl.rivm.screenit.batch.jobs.mamma.conceptmodel.MammaConceptModelListener"/>
    <beans:bean id="mammaConceptModelResettenTasklet" class="nl.rivm.screenit.batch.jobs.mamma.conceptmodel.step.resetconcept.MammaConceptModelResettenTasklet"/>

    <job id="mamma_concept_model" restartable="true">
        <step id="resetconcept">
            <tasklet ref="mammaConceptModelResettenTasklet"/>
        </step>
        <listeners>
            <listener ref="mammaConceptModelListener"/>
        </listeners>
    </job>

    
    <beans:bean id="mammaUitnodigenListener" class="nl.rivm.screenit.batch.jobs.mamma.uitnodigen.MammaUitnodigenListener"/>
    <beans:bean id="mammaUitnodigenTasklet" class="nl.rivm.screenit.batch.jobs.mamma.uitnodigen.step.uitnodigen.MammaUitnodigenTasklet"/>
    <beans:bean id="mammaVerlopenRondesReader" class="nl.rivm.screenit.batch.jobs.mamma.uitnodigen.afronden.MammaVerlopenRondesReader"/>
    <beans:bean id="mammaVerlopenRondesWriter" class="nl.rivm.screenit.batch.jobs.mamma.uitnodigen.afronden.MammaVerlopenRondesWriter"/>

    <job id="mamma_uitnodigen" restartable="true">
        <step id="uitnodigen">
            <tasklet ref="mammaUitnodigenTasklet"/>
            <next on="*" to="afronden"/>
            <next on="FAILED" to="afronden"/>
        </step>
        <step id="afronden">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaVerlopenRondesReader"
                       writer="mammaVerlopenRondesWriter" commit-interval="10">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="mammaUitnodigenListener"/>
        </listeners>
    </job>

    
    <beans:bean id="mammaBeoordelingenAccorderenReader" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.status.step.MammaBeoordelingenAccorderenReader"/>
    <beans:bean id="mammaBeoordelingenAccorderenWriter" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.status.step.MammaBeoordelingenAccorderenWriter"/>
    <beans:bean id="mammaBeoordelingenAccorderenListener" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.status.MammaBeoordelingenAccorderenListener"/>

    <job id="mamma_beoordelingen_accorderen">
        <step id="boordelingen_accorderen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaBeoordelingenAccorderenReader"
                       writer="mammaBeoordelingenAccorderenWriter" commit-interval="50">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="mammaBeoordelingenAccorderenListener"/>
        </listeners>
    </job>

    
    <beans:bean id="mammaDiscrepantieNaarArbitrageReader" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.discrepantie.step.MammaDiscrepantieNaarArbitrageReader"/>
    <beans:bean id="mammaDiscrepantieNaarArbitrageWriter" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.discrepantie.step.MammaDiscrepantieNaarArbitrageWriter"/>
    <beans:bean id="mammaDiscrepantieNaarArbitrageListener" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.discrepantie.MammaDiscrepantieNaarArbitrageListener"/>

    <job id="mamma_beoordelingen_doorzetten_arbitrage">
        <step id="beoordelingen_doorzetten_arbitrage">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaDiscrepantieNaarArbitrageReader"
                       writer="mammaDiscrepantieNaarArbitrageWriter" commit-interval="50">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="mammaDiscrepantieNaarArbitrageListener"/>
        </listeners>
    </job>

    
    <beans:bean id="mammaMislukteHuisartsberichtenVersturenReader"
                class="nl.rivm.screenit.batch.jobs.mamma.huisartsberichten.step.MammaMislukteHuisartsberichtenVersturenReader"/>
    <beans:bean id="mammaMislukteHuisartsberichtenVersturenWriter"
                class="nl.rivm.screenit.batch.jobs.mamma.huisartsberichten.step.MammaMislukteHuisartsberichtenVersturenWriter"/>
    <beans:bean id="mammaMislukteHuisartsberichtenVersturenListener"
                class="nl.rivm.screenit.batch.jobs.mamma.huisartsberichten.MammaMislukteHuisartsberichtenVersturenListener"/>


    <job id="mamma_huisarts_berichten_opnieuw_versturen">
        <step id="huisarts_berichten_opnieuw_versturen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaMislukteHuisartsberichtenVersturenReader"
                       writer="mammaMislukteHuisartsberichtenVersturenWriter" commit-interval="50">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="mammaMislukteHuisartsberichtenVersturenListener"/>
        </listeners>
    </job>

    

    <beans:bean id="mammaOntkoppelenTehuisReader" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.ontkoppelentehuis.MammaOntkoppelenTehuisReader">
        <beans:property name="fetchSize" value="50"/>
    </beans:bean>
    <beans:bean id="mammaOntkoppelenTehuisWriter" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.ontkoppelentehuis.MammaOntkoppelenTehuisWriter"/>

    <beans:bean id="mammaNieuwePostcodesReader" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.nieuwepostcodes.MammaNieuwePostcodesReader">
        <beans:property name="fetchSize" value="50"/>
    </beans:bean>
    <beans:bean id="mammaNieuwePostcodesWriter" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.nieuwepostcodes.MammaNieuwePostcodesWriter"/>

    <beans:bean id="zonderPostcodeReader" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.zonderpostcode.MammaZonderPostcodeReader">
        <beans:property name="fetchSize" value="50"/>
    </beans:bean>
    <beans:bean id="zonderPostcodeWriter" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.zonderpostcode.MammaZonderPostcodeWriter"/>

    <beans:bean id="mammaImsWijzigingenDoorsturenReader" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.imswijzigingendoorsturen.MammaImsWijzigingenDoorsturenReader">
        <beans:property name="fetchSize" value="50"/>
    </beans:bean>
    <beans:bean id="mammaImsWijzigingenDoorsturenWriter" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.imswijzigingendoorsturen.MammaImsWijzigingenDoorsturenWriter"/>

    <beans:bean id="mammaAfsprakenAnnulerenReader" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.afsprakenAnnuleren.MammaAfsprakenAnnulerenReader">
        <beans:property name="fetchSize" value="50"/>
    </beans:bean>
    <beans:bean id="mammaAfsprakenAnnulerenWriter" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.afsprakenAnnuleren.MammaAfsprakenAnnulerenWriter"/>

    <beans:bean id="mammaDeelnamekansenHerzienReader" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.deelnamekansenherzien.MammaDeelnamekansenHerzienReader">
        <beans:property name="fetchSize" value="50"/>
    </beans:bean>
    <beans:bean id="mammaDeelnamekansenHerzienWriter" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.deelnamekansenherzien.MammaDeelnamekansenHerzienWriter"/>

    <beans:bean id="mammaAdresGewijzigdMarkerResetReader" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.adresgewijzigdmarkerreset.MammaAdresGewijzigdMarkerResetReader">
        <beans:property name="fetchSize" value="50"/>
    </beans:bean>
    <beans:bean id="mammaAdresGewijzigdMarkerResetWriter" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.adresgewijzigdmarkerreset.MammaAdresGewijzigdMarkerResetWriter"/>

    <beans:bean id="afterGbaListener" class="nl.rivm.screenit.batch.jobs.mamma.aftergba.AfterGbaListener"/>

    <job id="mamma_na_gba" restartable="true">
        <step id="ontkoppelentehuis">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaOntkoppelenTehuisReader"
                       writer="mammaOntkoppelenTehuisWriter" commit-interval="50">
                </chunk>
            </tasklet>
            <next on="*" to="nieuwe_postcodes"/>
            <next on="FAILED" to="nieuwe_postcodes"/>
        </step>
        <step id="nieuwe_postcodes">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaNieuwePostcodesReader"
                       writer="mammaNieuwePostcodesWriter" commit-interval="50">
                </chunk>
            </tasklet>
            <next on="*" to="zonder_postcode"/>
            <next on="FAILED" to="zonder_postcode"/>
        </step>
        <step id="zonder_postcode">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="zonderPostcodeReader"
                       writer="zonderPostcodeWriter" commit-interval="50">
                </chunk>
            </tasklet>
            <next on="*" to="ims_wijzigingen"/>
            <next on="FAILED" to="ims_wijzigingen"/>
        </step>
        <step id="ims_wijzigingen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaImsWijzigingenDoorsturenReader"
                       writer="mammaImsWijzigingenDoorsturenWriter" commit-interval="50">
                </chunk>
            </tasklet>
            <next on="*" to="mammaAfspraakAnnuleren"/>
            <next on="FAILED" to="mammaAfspraakAnnuleren"/>
        </step>
        <step id="mammaAfspraakAnnuleren" next="mammaDeelnamekansenHerzien">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaAfsprakenAnnulerenReader"
                       writer="mammaAfsprakenAnnulerenWriter" commit-interval="50">
                </chunk>
            </tasklet>
        </step>
        <step id="mammaDeelnamekansenHerzien" next="mammaAdresGewijzigdMarkerReset">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaDeelnamekansenHerzienReader"
                       writer="mammaDeelnamekansenHerzienWriter" commit-interval="50">
                </chunk>
            </tasklet>
        </step>
        <step id="mammaAdresGewijzigdMarkerReset">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaAdresGewijzigdMarkerResetReader"
                       writer="mammaAdresGewijzigdMarkerResetWriter" commit-interval="50">
                </chunk>
            </tasklet>
        </step>

        <listeners>
            <listener ref="afterGbaListener"/>
        </listeners>
    </job>

    <beans:bean id="vervolgOnderzoekenOnderbrokenNa6MaandenOnvolledigReader"
                class="nl.rivm.screenit.batch.jobs.mamma.onderzoek.onderbrokenonderzoeken.MammaVervolgTeOudeOnderbrokenOnderzoekenReader"/>
    <beans:bean id="vervolgOnderzoekenOnderbrokenNa6MaandenOnvolledigWriter"
                class="nl.rivm.screenit.batch.jobs.mamma.onderzoek.onderbrokenonderzoeken.MammaVervolgTeOudeOnderbrokenOnderzoekenWriter"/>
    <beans:bean id="vervolgOnderzoekenZonderBeeldenReader" class="nl.rivm.screenit.batch.jobs.mamma.onderzoek.geenbeelden.MammaOnderzoekenZonderBeeldenReader"/>
    <beans:bean id="vervolgOnderzoekenZonderBeeldenWriter" class="nl.rivm.screenit.batch.jobs.mamma.onderzoek.geenbeelden.MammaOnderzoekenZonderBeeldenWriter"/>
    <beans:bean id="vervolgOnderzoekenNietAfgeslotenReader" class="nl.rivm.screenit.batch.jobs.mamma.onderzoek.nietafgesloten.MammaOnderzoekenNietAfgeslotenReader"/>
    <beans:bean id="vervolgOnderzoekenNietAfgeslotenWriter" class="nl.rivm.screenit.batch.jobs.mamma.onderzoek.nietafgesloten.MammaOnderzoekenNietAfgeslotenWriter"/>
    <beans:bean id="vervolgOnderzoekenListener" class="nl.rivm.screenit.batch.jobs.mamma.onderzoek.MammaVervolgOnderzoekenListener"/>

    <job id="mamma_vervolg_onderzoeken">
        <step id="onderbroken_onderzoeken">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="vervolgOnderzoekenOnderbrokenNa6MaandenOnvolledigReader"
                       writer="vervolgOnderzoekenOnderbrokenNa6MaandenOnvolledigWriter" commit-interval="10">
                </chunk>
            </tasklet>
            <next on="*" to="geen_beelden"/>
            <next on="FAILED" to="geen_beelden"/>
        </step>
        <step id="geen_beelden">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="vervolgOnderzoekenZonderBeeldenReader"
                       writer="vervolgOnderzoekenZonderBeeldenWriter" commit-interval="10">
                </chunk>
            </tasklet>
            <next on="*" to="niet_afgesloten"/>
            <next on="FAILED" to="niet_afgesloten"/>
        </step>
        <step id="niet_afgesloten">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="vervolgOnderzoekenNietAfgeslotenReader"
                       writer="vervolgOnderzoekenNietAfgeslotenWriter" commit-interval="10">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="vervolgOnderzoekenListener"/>
        </listeners>
    </job>

    <beans:bean id="mammaHerinnerenReader" class="nl.rivm.screenit.batch.jobs.mamma.herinneren.step.MammaHerinnerenReader"/>
    <beans:bean id="mammaHerinnerenWriter" class="nl.rivm.screenit.batch.jobs.mamma.herinneren.step.MammaHerinnerenWriter"/>
    <beans:bean id="mammaHerinnerenListener" class="nl.rivm.screenit.batch.jobs.mamma.herinneren.MammaHerinnerenListener"/>

    <job id="mamma_herinneren">
        <step id="herinneren">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaHerinnerenReader"
                       writer="mammaHerinnerenWriter" commit-interval="250">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="mammaHerinnerenListener"/>
        </listeners>
    </job>

    
    <beans:bean id="taskExecutorKansberekening" class="org.springframework.core.task.SimpleAsyncTaskExecutor"/>

    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.MammaKansberekeningListener" id="mammaKansberekeningListener"/>

    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.gemiddelden.MammaGemiddeldenTasklet" id="mammaGemiddeldenTasklet"/>

    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.dossiers.MammaScreeningRondeSampleReader" id="mammaScreeningRondeSampleReader"/>
    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.dossiers.MammaScreeningRondeSampleWriter" id="mammaScreeningRondeSampleWriter"/>
    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.dossiers.MammaFitDossierClassifierTasklet" id="mammaFitDossierClassifierTasklet"/>
    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.dossiers.MammaScreeningRondeEventReader" id="mammaScreeningRondeEventReader"/>
    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.dossiers.MammaScreeningRondeEventWriter" id="mammaScreeningRondeEventWriter"/>
    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.dossiers.MammaPredictDossiersTasklet" id="mammaPredictDossiersTasklet"/>

    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.afspraken.MammaAfspraakSampleReader" id="mammaAfspraakSampleReader"/>
    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.afspraken.MammaAfspraakSampleWriter" id="mammaAfspraakSampleWriter"/>
    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.afspraken.MammaFitAfspraakClassifierTasklet" id="mammaFitAfspraakClassifierTasklet"/>
    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.afspraken.MammaAfspraakEventReader" id="mammaAfspraakEventReader"/>
    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.afspraken.MammaAfspraakEventWriter" id="mammaAfspraakEventWriter"/>
    <beans:bean class="nl.rivm.screenit.batch.jobs.mamma.kansberekening.afspraken.MammaPredictAfsprakenTasklet" id="mammaPredictAfsprakenTasklet"/>

    <job id="mamma_kansberekening">
        <listeners>
            <listener ref="mammaKansberekeningListener"/>
        </listeners>

        <step id="dossier.samples" next="afspraak.samples">
            <tasklet>
                <chunk reader="mammaScreeningRondeSampleReader" writer="mammaScreeningRondeSampleWriter" commit-interval="500"/>
            </tasklet>
        </step>
        <step id="afspraak.samples" next="split">
            <tasklet>
                <chunk reader="mammaAfspraakSampleReader" writer="mammaAfspraakSampleWriter" commit-interval="500"/>
            </tasklet>
        </step>

        <split id="split" task-executor="taskExecutorKansberekening" next="dossier.fit">
            <flow>
                <step id="dossier.events">
                    <tasklet>
                        <chunk reader="mammaScreeningRondeEventReader" writer="mammaScreeningRondeEventWriter" commit-interval="500"/>
                    </tasklet>
                </step>
            </flow>
            <flow>
                <step id="afspraak.events">
                    <tasklet>
                        <chunk reader="mammaAfspraakEventReader" writer="mammaAfspraakEventWriter" commit-interval="500"/>
                    </tasklet>
                </step>
            </flow>
            <flow>
                <step id="gemiddelden">
                    <tasklet ref="mammaGemiddeldenTasklet"/>
                </step>
            </flow>
        </split>

        <step id="dossier.fit" next="dossier.predict">
            <tasklet ref="mammaFitDossierClassifierTasklet"/>
        </step>
        <step id="dossier.predict" next="afspraak.fit">
            <tasklet ref="mammaPredictDossiersTasklet"/>
        </step>
        <step id="afspraak.fit" next="afspraak.predict">
            <tasklet ref="mammaFitAfspraakClassifierTasklet"/>
        </step>
        <step id="afspraak.predict">
            <tasklet ref="mammaPredictAfsprakenTasklet"/>
        </step>
    </job>

    <beans:bean id="uitwisselportaalCleanupReader" class="nl.rivm.screenit.batch.jobs.mamma.uitwisselportaal.cleanup.MammaDownloadedDataCleanUpReader"/>
    <beans:bean id="uitwisselportaalCleanupWriter" class="nl.rivm.screenit.batch.jobs.mamma.uitwisselportaal.cleanup.MammaDownloadedDataCleanUpWriter"/>
    <beans:bean id="uitwisselportaalListener" class="nl.rivm.screenit.batch.jobs.mamma.uitwisselportaal.MammaUitwisselportaalListener"/>

    <job id="mamma_uitwisselportaal">
        <step id="cleanup">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="uitwisselportaalCleanupReader"
                       writer="uitwisselportaalCleanupWriter" commit-interval="10">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="uitwisselportaalListener"/>
        </listeners>
    </job>

    
    <beans:bean id="mammaBeeldenStatusSignalerenReader" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.ilm.step.MammaBeeldenStatusSignalerenReader"/>
    <beans:bean id="mammaBeeldenStatusSignalerenWriter" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.ilm.step.MammaBeeldenStatusSignalerenWriter"/>
    <beans:bean id="mammaScreeningRondesVerwijderenReader" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.ilm.step.MammaScreeningRondesVerwijderenReader"/>
    <beans:bean id="mammaScreeningRondesVerwijderenWriter" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.ilm.step.MammaScreeningRondesVerwijderenWriter"/>
    <beans:bean id="mammaGunstigeBeeldenVerwijderenReader" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.ilm.step.MammaGunstigeBeeldenVerwijderenReader"/>
    <beans:bean id="mammaOverigeBeeldenVerwijderenReader" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.ilm.step.MammaOverigeBeeldenVerwijderenReader"/>
    <beans:bean id="mammaBeeldenVerwijderenWriter" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.ilm.step.MammaBeeldenVerwijderenWriter"/>
    <beans:bean id="ilmApplicatieLoggingVerwijderenReader" class="nl.rivm.screenit.batch.jobs.ilm.applicatielogging.IlmApplicatieLoggingVerwijderenReader">
        <beans:property name="bvo" value="MAMMA"/>
    </beans:bean>
    <beans:bean id="ilmApplicatieLoggingVerwijderenWriter" class="nl.rivm.screenit.batch.jobs.ilm.applicatielogging.IlmApplicatieLoggingVerwijderenWriter"/>
    <beans:bean id="mammaIlmJobListener" class="nl.rivm.screenit.batch.jobs.mamma.beoordeling.ilm.MammaIlmJobListener"/>

    <job id="mamma_ilm">
        <step id="beelden_status_signaleren">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaBeeldenStatusSignalerenReader"
                       writer="mammaBeeldenStatusSignalerenWriter" commit-interval="250">
                </chunk>
            </tasklet>
            <next on="*" to="gunstige_beelden_verwijderen"/>
            <next on="FAILED" to="gunstige_beelden_verwijderen"/>
        </step>
        <step id="gunstige_beelden_verwijderen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaGunstigeBeeldenVerwijderenReader"
                       writer="mammaBeeldenVerwijderenWriter" commit-interval="250">
                </chunk>
            </tasklet>
            <next on="*" to="overige_beelden_verwijderen"/>
            <next on="FAILED" to="overige_beelden_verwijderen"/>
        </step>
        <step id="overige_beelden_verwijderen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaOverigeBeeldenVerwijderenReader"
                       writer="mammaBeeldenVerwijderenWriter" commit-interval="250">
                </chunk>
            </tasklet>
            <next on="*" to="rondes_verwijderen"/>
            <next on="FAILED" to="rondes_verwijderen"/>
        </step>
        <step id="rondes_verwijderen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaScreeningRondesVerwijderenReader"
                       writer="mammaScreeningRondesVerwijderenWriter" commit-interval="250">
                </chunk>
            </tasklet>
            <next on="*" to="ilm_applicatie_logging_verwijderen"/>
            <next on="FAILED" to="ilm_applicatie_logging_verwijderen"/>
        </step>
        <step id="ilm_applicatie_logging_verwijderen">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="ilmApplicatieLoggingVerwijderenReader"
                       writer="ilmApplicatieLoggingVerwijderenWriter" commit-interval="250">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="mammaIlmJobListener"/>
        </listeners>
    </job>

    
    <beans:bean id="xdsSendListener" class="nl.rivm.screenit.batch.jobs.mamma.onderzoek.xds.MammaXdsSendListener"/>
    <beans:bean id="xdsConsentSturenReader" class="nl.rivm.screenit.batch.jobs.mamma.onderzoek.xds.consent.MammaXdsConsentSturenReader"/>
    <beans:bean id="xdsConsentSturenWriter" class="nl.rivm.screenit.batch.jobs.mamma.onderzoek.xds.consent.MammaXdsConsentSturenWriter"/>
    <beans:bean id="xdsVerslagSturenReader" class="nl.rivm.screenit.batch.jobs.mamma.onderzoek.xds.verslagsturen.MammaXdsVerslagSturenReader"/>
    <beans:bean id="xdsVerslagSturenWriter" class="nl.rivm.screenit.batch.jobs.mamma.onderzoek.xds.verslagsturen.MammaXdsVerslagSturenWriter"/>

    <job id="mamma_xds">
        <step id="consent" next="pdfverslag">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="xdsConsentSturenReader"
                       writer="xdsConsentSturenWriter" commit-interval="10">
                </chunk>
            </tasklet>
        </step>
        <step id="pdfverslag">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="xdsVerslagSturenReader"
                       writer="xdsVerslagSturenWriter" commit-interval="10">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="xdsSendListener"/>
        </listeners>
    </job>

    
    <beans:bean id="mammaPalgaCsvImportProvider" class="nl.rivm.screenit.batch.jobs.mamma.palga.csvimport.MammaPalgaCsvImportProvider"/>
    <beans:bean id="mammaPalgaCsvImportListener" class="nl.rivm.screenit.batch.jobs.mamma.palga.csvimport.MammaPalgaCsvImportListener"/>
    <beans:bean id="mammaPalgaCsvImportReader" class="nl.rivm.screenit.batch.jobs.mamma.palga.csvimport.step.MammaPalgaCsvImportReader">
        <beans:property name="csvFileProvider" ref="mammaPalgaCsvImportProvider"/>
    </beans:bean>
    <beans:bean id="mammaPalgaCsvImportWriter" class="nl.rivm.screenit.batch.jobs.mamma.palga.csvimport.step.MammaPalgaCsvImportWriter"/>

    <job id="mamma_palga_csv_import" restartable="true">
        <step id="importeren">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="mammaPalgaCsvImportReader"
                       writer="mammaPalgaCsvImportWriter" commit-interval="50">
                </chunk>
            </tasklet>
        </step>
        <listeners>
            <listener ref="mammaPalgaCsvImportListener"/>
        </listeners>
    </job>

    
    <beans:bean id="mammaPalgaCsvExportListener" class="nl.rivm.screenit.batch.jobs.mamma.palga.csvexport.MammaPalgaCsvExportListener"/>
    <beans:bean id="mammaPalgaCsvExportTasklet" class="nl.rivm.screenit.batch.jobs.mamma.palga.csvexport.step.MammaPalgaCsvExportTasklet"/>

    <job id="mamma_palga_csv_export" restartable="true">
        <step id="genereren">
            <tasklet ref="mammaPalgaCsvExportTasklet"/>
        </step>
        <listeners>
            <listener ref="mammaPalgaCsvExportListener"/>
        </listeners>
    </job>

</beans:beans>
