<?xml version="1.0" encoding="UTF-8"?>
<!--
  ========================LICENSE_START=================================
  screenit-batch-bk
  %%
  Copyright (C) 2012 - 2024 Facilitaire Samenwerking Bevolkingsonderzoek
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  =========================LICENSE_END==================================
  -->

<configuration scan="true" scanPeriod="10 seconds">


    <if condition='isDefined("jetty.logging.dir")'>
        <then>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender" append="true">
                <file>${jetty.logging.dir}/screenit-batch-bk.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${jetty.logging.dir}/screenit-batch-bk_%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                </rollingPolicy>
                <encoder name="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %-10([A:%X{A}]) - %msg%n
                    </pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="FILE" class="ch.qos.logback.core.helpers.NOPAppender"/>
        </else>
    </if>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder name="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %-10([A:%X{A}]) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="nl" level="INFO"/>
    <logger name="nl.rivm.screenit.batch.JschLogger" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.jgroups" level="INFO"/>
    <logger name="org.jgroups.protocols.pbcast.GMS" level="DEBUG"/>
    <logger name="org.hibernate.engine.internal.StatefulPersistenceContext" level="ERROR"/>
    <logger name="nl.rivm.screenit.service.impl.DefaultCurrentDateSupplier" level="DEBUG"/>
    <logger name="nl.rivm.screenit.service.impl.DistributedLockServiceImpl" level="DEBUG"/>
    <logger name="nl.rivm.screenit.batch.service.impl.BatchJobServiceImpl" level="DEBUG"/>
    <logger name="nl.rivm.screenit.util.rest.LoggingRequestInterceptor" level="TRACE"/>
    <logger name="org.hibernate.orm.deprecation" level="ERROR"/>
    <logger name="org.dcm4che3" level="WARN"/>
    <logger name="org.dcm4che3.net.Connection" level="INFO"/>
    <logger name="org.dcm4che3.net.Association" level="INFO"/>


    <logger name="org.dcm4che3.net.Dimse" level="INFO"/>


    <logger name="org.dcm4che3.net.Timeout" level="INFO"/>
    <logger name="org.apache.cxf" level="ERROR"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>


</configuration>
